<div class="col-left col-md-6">
    <div class="col-inner">

        <!-- Begin Heading -->
        <div class="heading heading-xlg">
            <h1><span class="text-white bg-red padding-left-10">К</span><span class="text-white">онтакты</span></h1>
        </div>
        <!-- End Heading -->

        <div class="contact-info">
            <p><i class="fa fa-phone"></i> <a href="tel:+79158217007">phone: +7 915 821 7007</a></p>
            <p><i class="fa fa-skype"></i> <a href="callto:oneTHten">skype: oneTHten</a></p>
        </div>
        <div class="social-icons">
            <a href="javascript:void(0);" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="javascript:void(0);" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="javascript:void(0);" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="javascript:void(0);" target="_blank"><i class="fa fa-vk"></i></a>
        </div>

    </div>
    <!-- /.col-inner -->
</div>
<!-- /.col -->

<div class="col-right col-md-6">
    <div class="col-inner">

        <form action="javascript:void(0);" method="post" id="contactform" autocomplete="autocomplete">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="form-item">
<!--                        <label for="form_name"><i class="fa fa-user" ></i></label>-->
                        <input type="text" name="form_name" id="form_name" placeholder="Ваше Имя*" />
                    </div>
                    <div class="form-item">
<!--                        <label for="form_phone"><i class="fa fa-phone" ></i></label>-->
                        <input type="phone" name="form_phone" id="form_phone" placeholder="Ваш Телефон*">
                    </div>
                    <div class="form-item">
<!--                        <label for="form_email"><i class="fa fa-envelope" ></i></label>-->
                        <input type="email" name="form_email" id="form_email" placeholder="Ваш email*">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="form-item">
<!--                        <label for="form_message"><i class="fa fa-commenting" ></i></label>-->
                        <textarea name="form_message" id="form_message" rows="3" placeholder="Ваше сообщение..."></textarea>
                    </div>
                </div>
            </div>

            <!--
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <button type="submit">Отправить</button>
                </div>
            </div>
-->
            <button type="submit" class="btn btn-danger btn-lg">Хочу клип <i class="fa fa-paper-plane-o"></i></button>

        </form>

        <!--
        <form action="#" method="post" id="contactform">
            <div class="flex-box flex-input">
                <input type="text" placeholder="Ваше Имя*" />
                <input type="phone" placeholder="Ваш Телефон*">
                <input type="email" placeholder="Ваш email*">
            </div>
            <div class="flex-box">
                <textarea name="" id=""></textarea>
            </div>
            <div class="flex-box">
                <button type="submit">Отправить</button>
            </div>
-->
        <!--        </form>-->
        <!-- Socials icons (replace "http://link.com" widh your own link) -->

    </div>
    <!-- /.col-inner -->
</div>
<!-- /.col -->
