<div class="container-fluid">
    <div class="row">

        <!-- Begin responsive columns of same height (more info: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height) -->
        <div class="row-same-height">

            <div class="col-left col-lg-6 col-lg-height no-padding">
                <div class="col-inner no-padding padding-top-30">

                    <!-- Begin embed video (more info about reffering embed videos: https://www.feedthebot.com/pagespeed/defer-videos.htm) -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe data-src="https://player.vimeo.com/video/188850080?" width="500" height="281" allowfullscreen></iframe>
                    </div>
                    <!-- End embed video -->

                </div>
                <!-- /.col-inner -->
            </div>
            <!-- /.col -->

            <div class="col-right col-lg-6 col-lg-height col-top no-padding">
                <div class="col-inner">

                    <!-- Begin Heading -->
                    <div class="heading heading-xlg">
                        <h1><span class="bg-main text-white">Watch</span> Испытываем анаморфную оптику</h1>
                    </div>
                    <!-- End Heading -->

                    <p class="lead">Мы изучили анаморфную оптику - сложную систему, которая <strong>используется в профессиональном кино</strong>. Очень сложное, но очень крутое решение. Сделали тестовое видео - теперь будем применять в работе</p>

                </div>
                <!-- /.col-inner -->
            </div>
            <!-- /.col -->

        </div>
        <!-- End responsive columns of same height -->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
