<div class="container">
    <div class="row">

        <!-- Count-1 -->
        <div class="col count-1 col-md-3 col-sm-6">
            <div class="counter-up-inner">
                <div class="counter-icon"><i class="fa fa-users"></i></div>
                <div class="counter">6211</div>
                <div class="divider divider-center"></div>
                <h4>Довольных клиентов</h4>
            </div>
        </div>
        <!-- /.col -->

        <!-- Count-2 -->
        <div class="col count-2 col-md-3 col-sm-6">
            <div class="counter-up-inner">
                <div class="counter-icon"><i class="fa fa-clock-o"></i></div>
                <div class="counter">42186</div>
                <div class="divider divider-center"></div>
                <h4>Часов съемок</h4>
            </div>
        </div>
        <!-- /.col -->

        <!-- Count-3 -->
        <div class="col count-3 col-md-3 col-sm-6">
            <div class="counter-up-inner">
                <div class="counter-icon"><i class="fa fa-trophy"></i></div>
                <div class="counter">5748</div>
                <div class="divider divider-center"></div>
                <h4>Оригинальных клипов</h4>
            </div>
        </div>
        <!-- /.col -->

        <!-- Count-4 -->
        <div class="col count-4 col-md-3 col-sm-6">
            <div class="counter-up-inner">
                <div class="counter-icon"><i class="fa fa-globe"></i></div>
                <div class="counter">12</div>
                <div class="divider divider-center"></div>
                <h4>Стран мира</h4>
            </div>
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
