<div class="container-fluid">
    <div class="row">

        <!-- Begin responsive columns of same height (more info: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height) -->
        <div class="row-same-height">

            <div class="col-left col-lg-6 col-lg-height no-padding wow fadeInLeft padding-top-30">
                <img src="img/team2.jpg" alt="image">
            </div>
            <!-- /.col -->

            <div class="col-right col-lg-6 col-lg-height col-top no-padding wow fadeInRight">
                <div class="col-inner">

                    <!-- Begin Heading -->
                    <div class="heading heading-xlg">
                        <h1><span class="bg-white text-black">Кто</span><span class="bg-main text-white">мы такие</span></h1>
                    </div>
                    <!-- End Heading -->

                    <p class="lead">Мы - команда профессиональных кинематографистов. Мы создаём воспоминания - нечто важное и настоящее.
Для нас каждый новый проект это новая оригинальная история, которую необходимо рассказать максимально точно, максимально честно. Это наша работа - то, что мы умеем и любим делать. 
                    </p>

                    <br>
                    <a href="#" class="btn btn-inverse btn-lg">Узнать о нас больше</a>

                </div>
                <!-- /.col-inner -->
            </div>
            <!-- /.col -->
        </div>
        <!-- End responsive columns of same height -->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
