<div class="owl-carousel testimonial-carousel text-center" data-items="1" data-loop="true" data-autoplay="true" data-autoplay-timeout="8000" data-autoplay-hover-pause="true" data-autoplay-speed="600" data-dots="true" data-dots-speed="600">
    <blockquote>
        <p>"Выращивайте свою студию, чтобы как можно больше людей получали ваши волшебные фильмы!"</p>
        <footer><cite title="Source Title">Ольга и Андрей Макаровы, web-студия WebCup</cite></footer>
    </blockquote>

    <blockquote>
        <p>"Круто сделали, американский клип прям!"</p>
        <footer><cite title="Source Title">Владислав Пухов, Dream Wedding Films</cite></footer>
    </blockquote>

    <blockquote>
        <p>"Спасибо за классные съемки концерта, было здорово с вами работать!"</p>
        <footer><cite title="Source Title">Вера Брежнева</cite></footer>
    </blockquote>

    <blockquote>
        <p>"Дмитрий – это целеустремлённая личность и волевой человек. Его пример доказывает, что талантливый человек талантлив в любом начинании."</p>
        <footer><cite title="Source Title">LevelUp Magazine</cite></footer>
    </blockquote>
</div>
