<div class="masonry popup-gallery">

    <!-- Begin portfolio heading -->
    <div class="box stamp col-md-4 col-sm-6">
        <div class="box-inner portfolio-heading">
            <a href="#" target="_blank" class="portfolio-link"></a>
            <div class="cover"></div>
            <img src="img/portfolio/portfolio-heading-img.jpg" alt="image">
            <!-- Begin Heading -->
            <div class="heading heading-md align-center">
                <h1><span class="bg-main text-white">П</span>ортфолио</h1>
                <p>посмотреть всё портфолио <i class="fa fa-arrow-right"></i></p>
            </div>
            <!-- End Heading -->
        </div>
    </div>
    <!-- End portfolio heading -->


    <!-- Begin portfolio grid box 1 -->
    <div class="box box-1 col-md-4 col-sm-6">
        <div class="box-inner">
            <a href="#portfolio-1" class="portfolio-link inline-popup-trigger"></a>
            <div class="cover"></div>
            <img class="thumbnail" src="img/portfolio/box-1.jpg" alt="image">
            <div class="caption align-center">
                <img src="img/portfolio_cover.png" alt="image">
            </div>
            <h3 class="entry-count"># Mountain ...</h3>
        </div>

        <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
        <div id="portfolio-1" class="inline-popup mfp-hide">
            <div class="inline-popup-inner">
                <div class="row">
                    <div class="col-md-12">
                        <img class="thumbnail margin-bottom-40" src="img/portfolio/portfolio-img-1.jpg" alt="image">
                    </div>
                    <div class="col-md-8 margin-bottom-20">
                        <h1 class="no-margin-top">Portfolio Single Item</h1>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius quo magni dolorum vero placeat, repellendus nisi ipsam. Alias, qui vitae deserunt modi est nemo quidem error quis natus. Facere? This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                    </div>
                    <div class="col-md-4 margin-bottom-20 padding-left-40">
                        <ul>
                            <li>Client: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">MockCo INC</a></strong></li>
                            <li>Date: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">18 may, 2015</a></strong></li>
                            <li>Service: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">Photography</a></strong></li>
                            <li>Copyright ©2014, All Rights Reserved</li>
                        </ul>
                        <a href="#" target="_blank" class="btn btn-danger btn-lg margin-top-40">Launch Project</a>
                    </div>
                </div>
            </div>
            <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
        </div>
        <!-- End inline popup content -->

    </div>
    <!-- End portfolio grid box 1 -->

    <!-- Begin portfolio grid box 2 -->
    <div class="box box-2 col-md-4 col-sm-6">
        <div class="box-inner">
            <a href="#portfolio-2" class="portfolio-link inline-popup-trigger"></a>
            <div class="cover"></div>
            <img class="thumbnail" src="img/portfolio/box-2.jpg" alt="image">
            <div class="caption align-center">
                <img src="img/portfolio_cover.png" alt="image">
            </div>
            <h3 class="entry-count"># winter reflected love</h3>
        </div>

        <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
        <div id="portfolio-2" class="inline-popup mfp-hide">
            <div class="inline-popup-inner">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Begin content carousel (http://www.owlcarousel.owlgraphic.com)
								                ============================ 
								                * Available carousel data attributes:
								                    data-items="1".......................(items visible on desktop)
								                    data-items-mobile-portrait="1".......(items visible on mobiles)
								                    data-items-mobile-landscape="1"......(items visible on mobiles)
								                    data-items-tablet="1"................(items visible on tablets)
								                    data-loop="true".....................(true/false)
								                    data-margin="10".....................(space between items)
								                    data-center="false"..................(true/false)
								                    data-start-position="0"..............(item start position)
								                    data-animate-in="fadeIn".............(more animations: http://daneden.github.io/animate.css/)
								                    data-animate-out="fadeOut"...........(more animations: http://daneden.github.io/animate.css/)
								                    data-mouse-drag="true"...............(true/false)
								                    data-autoheight="false"..............(true/false)
								                    data-autoplay="true".................(true/false)
								                    data-autoplay-timeout="5000".........(milliseconds)
								                    data-autoplay-hover-pause="true".....(true/false)
								                    data-autoplay-speed="800"............(milliseconds)
								                    data-nav="true"......................(true/false)
								                    data-nav-speed="800".................(milliseconds)
								                    data-dots="true".....................(true/false)
								                    data-dots-speed="800"................(milliseconds)
								                -->
                        <div class="owl-carousel margin-bottom-50" data-items="1" data-loop="true" data-dots="true" data-dots-speed="600" data-nav="true" data-nav-speed="600">

                            <img class="thumbnail" src="img/portfolio/portfolio-img-2.jpg" alt="image">
                            <img class="thumbnail" src="img/portfolio/portfolio-img-3.jpg" alt="image">
                            <img class="thumbnail" src="img/portfolio/portfolio-img-4.jpg" alt="image">

                        </div>
                        <!-- End content carousel -->

                    </div>
                    <div class="col-md-8 margin-bottom-20">
                        <h1 class="no-margin-top">Portfolio Single Item</h1>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius quo magni dolorum vero placeat, repellendus nisi ipsam. Alias, qui vitae deserunt modi est nemo quidem error quis natus. Facere? This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                    </div>
                    <div class="col-md-4 margin-bottom-20 padding-left-40">
                        <ul>
                            <li>Client: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">MockCo INC</a></strong></li>
                            <li>Date: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">18 may, 2015</a></strong></li>
                            <li>Service: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">Carousel</a></strong></li>
                            <li>Copyright ©2014, All Rights Reserved</li>
                        </ul>
                        <a href="#" target="_blank" class="btn btn-danger btn-lg margin-top-40">Launch Project</a>
                    </div>
                </div>
            </div>
            <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
        </div>
        <!-- End inline popup content -->

    </div>
    <!-- End portfolio grid box 2 -->

    <!-- Begin portfolio grid box 3 -->
    <div class="box box-3 col-md-4 col-sm-6">
        <div class="box-inner">
            <a href="#portfolio-3" class="portfolio-link inline-popup-trigger"></a>
            <div class="cover"></div>
            <img class="thumbnail" src="img/portfolio/box-3.jpg" alt="image">
            <div class="caption align-center">
                <img src="img/portfolio_cover.png" alt="image">
            </div>
            <h3 class="entry-count"># O &amp; A</h3>
        </div>

        <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
        <div id="portfolio-3" class="inline-popup mfp-hide">
            <div class="inline-popup-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Begin embed video (more info about reffering embed videos: https://www.feedthebot.com/pagespeed/defer-videos.htm) -->
                        <div class="embed-responsive embed-responsive-16by9 margin-bottom-40">
                            <iframe data-src="https://player.vimeo.com/video/60616160?" width="500" height="281" allowfullscreen></iframe>
                        </div>
                        <!-- End embed video -->
                    </div>
                    <div class="col-md-8 margin-bottom-20">
                        <h1 class="no-margin-top">Portfolio Single Item</h1>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius quo magni dolorum vero placeat, repellendus nisi ipsam. Alias, qui vitae deserunt modi est nemo quidem error quis natus. Facere? This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                    </div>
                    <div class="col-md-4 margin-bottom-20 padding-left-40">
                        <ul>
                            <li>Client: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">MockCo INC</a></strong></li>
                            <li>Date: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">18 may, 2015</a></strong></li>
                            <li>Service: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">Video</a></strong></li>
                            <li>Copyright ©2014, All Rights Reserved</li>
                        </ul>
                        <a href="#" target="_blank" class="btn btn-danger btn-lg margin-top-40">Launch Project</a>
                    </div>
                </div>
            </div>
            <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
        </div>
        <!-- End inline popup content -->

    </div>
    <!-- End portfolio grid box 3 -->

    <!-- Begin Portfolio grid box 4 -->
    <div class="box box-4 col-md-4 col-sm-6">
        <div class="box-inner">
            <a href="#portfolio-4" class="portfolio-link inline-popup-trigger"></a>
            <div class="cover"></div>
            <img class="thumbnail" src="img/portfolio/box-4.jpg" alt="image">
            <div class="caption align-center">
                <img src="img/portfolio_cover.png" alt="image">
            </div>
            <h3 class="entry-count"># Natural feelings</h3>
        </div>

        <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
        <div id="portfolio-4" class="inline-popup mfp-hide">
            <div class="inline-popup-inner">
                <div class="row">
                    <div class="col-md-12">
                        <img class="thumbnail margin-bottom-40" src="img/portfolio/portfolio-img-4.jpg" alt="image">
                    </div>
                    <div class="col-md-8 margin-bottom-20">
                        <h1 class="no-margin-top">Portfolio Single Item</h1>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius quo magni dolorum vero placeat, repellendus nisi ipsam. Alias, qui vitae deserunt modi est nemo quidem error quis natus. Facere? This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                    </div>
                    <div class="col-md-4 margin-bottom-20 padding-left-40">
                        <ul>
                            <li>Client: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">MockCo INC</a></strong></li>
                            <li>Date: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">18 may, 2015</a></strong></li>
                            <li>Service: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">Photography</a></strong></li>
                            <li>Copyright ©2014, All Rights Reserved</li>
                        </ul>
                        <a href="#" target="_blank" class="btn btn-danger btn-lg margin-top-40">Launch Project</a>
                    </div>
                </div>
            </div>
            <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
        </div>
        <!-- End inline popup content -->

    </div>
    <!-- End portfolio grid box 4 -->

    <!-- Begin portfolio grid box 5 -->
    <div class="box box-5 col-md-4 col-sm-6">
        <div class="box-inner">
            <a href="#portfolio-5" class="portfolio-link inline-popup-trigger"></a>
            <div class="cover"></div>
            <img class="thumbnail" src="img/portfolio/box-5.jpg" alt="image">
            <div class="caption align-center">
                <img src="img/portfolio_cover.png" alt="image">
            </div>
            <h3 class="entry-count"># D &amp; A</h3>
        </div>

        <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
        <div id="portfolio-5" class="inline-popup mfp-hide">
            <div class="inline-popup-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Begin embed video (more info about reffering embed videos: https://www.feedthebot.com/pagespeed/defer-videos.htm) -->
                        <div class="embed-responsive embed-responsive-16by9 margin-bottom-40">
                            <iframe src="https://www.youtube.com/embed/koW2Clc0xEA" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <!-- End embed video -->
                    </div>
                    <div class="col-md-8 margin-bottom-20">
                        <h1 class="no-margin-top">Portfolio Single Item</h1>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius quo magni dolorum vero placeat, repellendus nisi ipsam. Alias, qui vitae deserunt modi est nemo quidem error quis natus. Facere? This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                    </div>
                    <div class="col-md-4 margin-bottom-20 padding-left-40">
                        <ul>
                            <li>Client: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">MockCo INC</a></strong></li>
                            <li>Date: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">18 may, 2015</a></strong></li>
                            <li>Service: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">Video</a></strong></li>
                            <li>Copyright ©2014, All Rights Reserved</li>
                        </ul>
                        <a href="#" target="_blank" class="btn btn-danger btn-lg margin-top-40">Launch Project</a>
                    </div>
                </div>
            </div>
            <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
        </div>
        <!-- End inline popup content -->

    </div>
    <!-- End portfolio grid box 5 -->

    <!-- Begin portfolio grid box 6 -->
    <div class="box box-6 col-md-4 col-sm-6">
        <div class="box-inner">
            <a href="#portfolio-6" class="portfolio-link inline-popup-trigger"></a>
            <div class="cover"></div>
            <img class="thumbnail" src="img/portfolio/box-6.jpg" alt="image">
            <div class="caption align-center">
                <img src="img/portfolio_cover.png" alt="image">
            </div>
            <h3 class="entry-count"># E &amp; A</h3>
        </div>

        <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
        <div id="portfolio-6" class="inline-popup mfp-hide">
            <div class="inline-popup-inner">
                <div class="row">
                    <div class="col-md-12">
                        <img class="thumbnail margin-bottom-40" src="img/portfolio/portfolio-img-6.jpg" alt="image">
                    </div>
                    <div class="col-md-8 margin-bottom-20">
                        <h1 class="no-margin-top">Portfolio Single Item</h1>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius quo magni dolorum vero placeat, repellendus nisi ipsam. Alias, qui vitae deserunt modi est nemo quidem error quis natus. Facere? This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                    </div>
                    <div class="col-md-4 margin-bottom-20 padding-left-40">
                        <ul>
                            <li>Client: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">MockCo INC</a></strong></li>
                            <li>Date: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">18 may, 2015</a></strong></li>
                            <li>Service: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">Photography</a></strong></li>
                            <li>Copyright ©2014, All Rights Reserved</li>
                        </ul>
                        <a href="#" target="_blank" class="btn btn-danger btn-lg margin-top-40">Launch Project</a>
                    </div>
                </div>
            </div>
            <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
        </div>
        <!-- End inline popup content -->

    </div>
    <!-- End portfolio grid box 6 -->

    <!-- Begin portfolio grid box 7 -->
    <div class="box box-7 col-md-4 col-sm-6">
        <div class="box-inner">
            <a href="#portfolio-7" class="portfolio-link inline-popup-trigger"></a>
            <div class="cover"></div>
            <img class="thumbnail" src="img/portfolio/box-7.jpg" alt="image">
            <div class="caption align-center">
                <img src="img/portfolio_cover.png" alt="image">
            </div>
            <h3 class="entry-count"># Autumn Warm Breath</h3>
        </div>

        <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
        <div id="portfolio-7" class="inline-popup mfp-hide">
            <div class="inline-popup-inner">
                <div class="row">
                    <div class="col-md-12">
                        <img class="thumbnail margin-bottom-40" src="img/portfolio/portfolio-img-7.jpg" alt="image">
                    </div>
                    <div class="col-md-8 margin-bottom-20">
                        <h1 class="no-margin-top">Portfolio Single Item</h1>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius quo magni dolorum vero placeat, repellendus nisi ipsam. Alias, qui vitae deserunt modi est nemo quidem error quis natus. Facere? This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                    </div>
                    <div class="col-md-4 margin-bottom-20 padding-left-40">
                        <ul>
                            <li>Client: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">MockCo INC</a></strong></li>
                            <li>Date: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">18 may, 2015</a></strong></li>
                            <li>Service: <strong><a href="https://wrapbootstrap.com/user/Themetorium" target="_blank">Photography</a></strong></li>
                            <li>Copyright ©2014, All Rights Reserved</li>
                        </ul>
                        <a href="#" target="_blank" class="btn btn-danger btn-lg margin-top-40">Launch Project</a>
                    </div>
                </div>
            </div>
            <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
        </div>
        <!-- End inline popup content -->

    </div>
    <!-- End portfolio grid box 7 -->

</div>
