<div class="owl-carousel clients-carousel text-center" data-items="4" data-margin="10" data-items-tablet="3" data-items-mobile-landscape="2" data-items-mobile-portrait="1" data-loop="true" data-autoplay="true" data-autoplay-timeout="7000" data-autoplay-hover-pause="true" data-autoplay-speed="600" data-dots="false">
    <a href="#" target="_blank" class="client-logo" title="Client-1"><img src="img/clients/1.png" alt="image"></a>
    <a href="#" target="_blank" class="client-logo" title="Client-2"><img src="img/clients/2.png" alt="image"></a>
    <a href="#" target="_blank" class="client-logo" title="Client-3"><img src="img/clients/3.png" alt="image"></a>
    <a href="#" target="_blank" class="client-logo" title="Client-4"><img src="img/clients/4.png" alt="image"></a>
    <a href="#" target="_blank" class="client-logo" title="Client-5"><img src="img/clients/5.png" alt="image"></a>
    <a href="#" target="_blank" class="client-logo" title="Client-6"><img src="img/clients/6.png" alt="image"></a>
    <a href="#" target="_blank" class="client-logo" title="Client-7"><img src="img/clients/7.png" alt="image"></a>
</div>
