<!-- element cover -->
<div class="cover"></div>

<div class="container-fluid text-white">
    <div class="row">

        <!-- Begin responsive columns of same height (more info: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height) -->
        <div class="row-same-height">

            <div class="col-left col-lg-5 col-lg-height col-middle no-padding to-top">
                <div class="col-inner">

                    <!-- Begin Heading -->
                    <div class="heading heading-xlg">
                        <h1><span class="bg-white text-dark">Как</span><span class="bg-main text-white">мы</span><span class="bg-main text-white">работаем</span></h1>
                    </div>
                    <!-- End Heading -->

                    <p class="lead">Кажется, сейчас только ленивый не занимается фото- или видеосъемкой. <br>
                    Но бывают события, на которых нельзя тренироваться - их нужно снять безупречно и сохранить на всю жизнь. <br>
                        <span class="text-red">Именно тогда и приглашают нас.</span></p>

                    <br>
                    <a href="#" class="btn btn-white btn-lg">Задать вопрос</a>

                </div>
                <!-- /.col-inner -->
            </div>
            <!-- /.col -->

            <div class="col-right col-lg-7 col-lg-height">
                <div class="col-inner padding-top-0">

                    <!-- Begin info box -->
                    <div class="info-box-wrapper">
                        <div class="flex-row">

                            <!-- info box 1 -->
                            <div class="col col-sm-6 col-lg-6">
                                <div class="info-box">
<!--                                    <span class="info-box-icon"><i class="fa fa-paint-brush"></i></span>-->
                                    <div class="info-box-heading">
                                        <h3>Любые съемки</h3>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="info-box-info">
                                        <p>Мы регулярно расширяем профессиональные горизонты. Сегодня нам доступны практически все современные виды и средства работы с видео от Steadicam и GoPro до аэро и съемок с анаморфной оптикой.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- info box 2 -->
                            <div class="col col-sm-6 col-lg-6">
                                <div class="info-box">
<!--                                    <span class="info-box-icon"><i class="fa fa-code"></i></span>-->
                                    <div class="info-box-heading">
                                        <h3>Пишем сценарий</h3>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="info-box-info">
                                        <p>Для свадебных видео, музыкальных клипов и lovestory мы пишем оригинальный сценарий, который передаст именно ваши чувства и вашу уникальную историю.</p>
                                    </div>
                                </div>
                            </div>

                         

                            <!-- info box 3 -->
                            <div class="col col-sm-6 col-lg-6">
                                <div class="info-box">
<!--                                    <span class="info-box-icon"><i class="fa fa-line-chart"></i></span>-->
                                    <div class="info-box-heading">
                                        <h3>Режиссер<wbr>ский взгляд</h3>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="info-box-info">
                                        <p>Мы не просто смотрим на вас через объектив и отрабатываем деньги. Мы проживаем знаковые моменты вашей жизни вместе с вами и улавливаем каждую деталь, которую вы потом с удовольствием вспомните.</p>
                                    </div>
                                </div>
                            </div>

                              <!-- info box 4 -->
                            <div class="col col-sm-6 col-lg-6">
                                <div class="info-box">
<!--                                    <span class="info-box-icon"><i class="fa fa-users"></i></span>-->
                                    <div class="info-box-heading">
                                        <h3>Никаких преград</h3>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="info-box-info">
                                        <p>Мы снимаем клипы в любых условиях и в любой точке мира. Если для вашей истории нужен скандинавский ландшафт, мы едем в Норвегию, а не в соседнюю область.</p>
                                    </div>
                                </div>
                            </div>
                          

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- End info box -->

                </div>
                <!-- /.col-inner -->
            </div>
            <!-- /.col -->
        </div>
        <!-- End responsive columns of same height -->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
