<div class="container">
    <div class="row">

        <div class="col-left col-md-6">
            <div class="col-inner wow fadeInLeft">

                <!-- Begin Heading -->
                <div class="heading heading-xlg">
                    <h1><span class="bg-white text-red">ROOT</span><span class="bg-white text-dark">FILM</span></h1>
                </div>
                <!-- End Heading -->

                <p class="lead">/ стильно / душевно / профессионально /</p>

            </div>
            <!-- /.col-inner -->
        </div>
        <!-- /.col -->

        <div class="col-right col-md-6 wow fadeInRight">
            <div class="col-inner">

                <p class="lead">
                    Хотите запечатлеть яркий момент или запомнить важное событие?<br />
                    <span class="text-red">Творите свою историю с нами!</span><br />
                    Мы берем за основу самое ценное - ваши эмоции.<br />
                    В каждом кадре - настоящая жизнь. <br /> 
                    В каждом клипе - дорогие сердцу воспоминания.
                </p>

            </div> 
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
