<div class="col-md-12">
    <div class="copyright small">
        <p><a href="#">ROOT FILM</a> © Все права защищены</p>
        <p>Разработано студией <a href="javascript:void(0)">WebCup</a></p>
    </div>
</div>
