meta(charset=charset)
meta(viewport=viewport)
title #{title}
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="description", content="Сайт видеостудии Дмитрия Муратова")
meta(name="keywords", content="Видеосъемки ...")
meta(name="author", content="http://doit37.ru")

// fonts
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic")
link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css")

// styles
// bootstrap CSS (more info: http://getbootstrap.com)
link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css")

// Magnific Popup CSS (more info: http://dimsemenov.com/plugins/magnific-popup/)
link(rel="stylesheet" href="vendor/magnific-popup/css/magnific-popup.css")

// owl carousel CSS (more info: http://www.owlcarousel.owlgraphic.com)
link(rel="stylesheet" href="vendor/owl-carousel/css/owl.carousel.min.css")
link(rel="stylesheet" href="vendor/owl-carousel/css/owl.theme.default.css")

// Theme navigation menu CSS (more info: http://codyhouse.co/gem/secondary-expandable-navigation)
link(rel="stylesheet" href="css/menu.css")

// Theme helper classes CSS
link(rel="stylesheet" href="css/helper.css")

// Theme master CSS 
link(rel="stylesheet" href="css/theme.css")

// Theme custom CSS (all your CSS customizations)
link(rel="stylesheet" href="css/custom.css")

// Animate CSS
link(rel="stylesheet" href="vendor/wow/animate.min.css")

// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://

<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
