a#cd-logo(href="index.html")
    h1.heading
        span.text-white.bg-red ROOT
        span.text-white.bg-dark FILM
nav#cd-top-nav.
    <!-- <ul> 
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#0">Register</a></li>
                    <li><a href="#0">Login</a></li>
                </ul> -->
// Menu trigger (menu button)
a#cd-menu-trigger(href="#0")
    span.cd-menu-icon
