div.nav-inner
    // menu header
    div.menu-header Menu
        // single links wrapper
        ul.cd-navigation.cd-single-item-wrapper
            li: a.page-scroll(href="index.html") Домой
            li: a.page-scroll(href="#section-1") Welcome
            li: a.page-scroll(href="#section-2") Who We Are
            li: a.page-scroll(href="#section-3") What We Do
            li: a.page-scroll(href="#section-5") Video Demo
            li: a.page-scroll(href="#section-6") Portfolio
            li: a.page-scroll(href="#section-8") FAQ
            li: a.page-scroll(href="#section-9") Blog
            li: a.page-scroll(href="#section-11") Contact
            li.menu-separator
            li: a(href="index.html") Parallax Intro
            li: a(href="slideshow-intro.html") Slideshow Intro
            li: a(href="video-intro.html") Youtube Video Intro
            li: a(href="404.html") 404 Error Page
        // /single links wrapper

        div.menu-separator

        // links with sub menu
        ul.cd-navigation
            li.item-has-children
                a(href="#0") Sub Menu
                ul.sub-menu
                    li: a(href="#") Sub Link 1
                    li: a(href="#") Sub Link 2
                    li: a(href="#") Sub Link 3
            li.item-has-children
                a(href="#0") Another Sub Menu
                ul.sub-menu
                    li: a(href="#") Sub Link 1
                    li: a(href="#") Sub Link 2
            li.item-has-children
                a(href="#0") Sub Menu
                ul.sub-menu
                    li: a(href="#") Sub Link 1
                    li: a(href="#") Sub Link 2
                    li: a(href="#") Sub Link 3
        // /links with sub menu

        //Socials icons (replace "http://link.com" widh your own link) -->
        div.social-icons
            a(href="javascript:void(0);", target="_blank"): i.fa.fa-facebook
            a(href="javascript:void(0);", target="_blank"): i.fa.fa-twitter
            a(href="javascript:void(0);", target="_blank"): i.fa.fa-google-plus
            a(href="javascript:void(0);", target="_blank"): i.fa.fa-vk