<!-- Libs and Plugins JS -->
<script src="vendor/jquery/jquery-1.11.1.min.js"></script>
<!-- jquery JS (more info: https://jquery.com) -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- bootstrap JS (more info: http://getbootstrap.com) -->
<script src="vendor/wow/wow.js"></script>
<!-- wow animate.css http://webcareer.ru/animate-css-v-primerax.html
https://github.com/matthieua/WOW-->
<script src="vendor/jquery.easing.min.js"></script>
<!-- jquery easing JS (more info: http://gsgd.co.uk/sandbox/jquery/easing) -->


<!--<script src="vendor/jquery.stellar.min.js"></script>-->
<!-- parallax JS (more info: http://markdalgleish.com/projects/stellar.js) -->

<script src="vendor/smoothscroll.js"></script>
<!-- smoothscroll JS (more info: https://gist.github.com/theroyalstudent/4e6ec834be19bf077298/) -->
<script src="vendor/jquery.counterup.min.js"></script>
<!-- counter up JS (requires jQuery "waypoints.js" plugin. more info: https://github.com/bfintal/Counter-Up) -->
<script src="vendor/waypoints.min.js"></script>
<!-- counter up JS (more info: https://github.com/bfintal/Counter-Up) -->

<!--<script src="vendor/ytplayer/js/jquery.mb.YTPlayer.min.js"></script>-->
<!-- YTPlayer JS (more info: https://github.com/pupunzi/jquery.mb.YTPlayer) -->


<script src="vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<!-- Magnific Popup JS (more info: http://dimsemenov.com/plugins/magnific-popup/) -->

<script src="js/backgroundVideo.js"></script>
<!-- video background-->
<!--<script src="vendor/parallax/parallax.min.js"></script>-->
<!--parallax-->


<script src="vendor/masonry.pkgd.min.js"></script>
<!-- masonry JS (more info: http://masonry.desandro.com/) -->
<script src="vendor/imagesloaded.pkgd.min.js"></script>
<!-- imagesloaded JS (more info: http://masonry.desandro.com/appendix.html#imagesloaded) -->

<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script>
<!-- owl carousel JS (more info: http://www.owlcarousel.owlgraphic.com) -->

<!-- Theme JS -->
<script src="js/theme.js"></script>

<!-- Theme custom JS (all your JS customizations) -->
<script src="js/custom.js"></script>
