div#preloader.
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="210mm" height="297mm" viewBox="0 0 210 297" version="1.1" id="svg8" inkscape:version="0.92.1 r15371" sodipodi:docname="logo-vector.svg">
        <defs id="defs2" />
        <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.35"
     inkscape:cx="400"
     inkscape:cy="560"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="535"
     inkscape:window-height="433"
     inkscape:window-x="1228"
     inkscape:window-y="571"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
      // убрать style
    <path class="tree svg-body"
       style="stroke-width:0.35277778"
       d="m 77.691554,221.075 -0.8015,-2.0833 1.45201,-4.52611 c 2.7016,-8.42129 3.4387,-10.87236 3.65435,-12.15166 l 0.21501,-1.27556 -0.22901,-0.5968 -0.22901,-0.59679 -0.47235,0.18125 -0.47235,0.18126 -0.21005,-0.33987 -0.21004,-0.33986 0.57855,-0.22201 0.57855,-0.22201 0.31205,-0.82075 0.31205,-0.82076 1.33662,-0.88294 c 0.73514,-0.48561 1.97162,-1.33437 2.74773,-1.88611 l 1.41111,-1.00318 v -0.88838 -0.88839 l 1.14653,-1.3078 1.14653,-1.30779 v -0.48804 c 0,-0.26842 -0.0964,-0.73915 -0.21413,-1.04606 l -0.21414,-0.55802 h -0.73198 c -0.40259,0 -2.01279,0.3334 -3.57823,0.74088 l -2.84624,0.74089 -1.16725,1.28758 c -0.64198,0.70818 -1.27698,1.52572 -1.41111,1.81676 -0.13412,0.29105 -1.23723,1.46727 -2.45133,2.61383 l -2.20747,2.08466 -0.24181,-0.2418 -0.2418,-0.2418 2.08217,-2.10413 2.08217,-2.10413 -0.3968,-0.3968 -0.39681,-0.39681 -1.24932,0.9529 -1.24932,0.9529 -0.38069,-0.23528 -0.38069,-0.23527 -1.83941,1.16359 c -1.01168,0.63998 -1.9188,1.26411 -2.01581,1.38695 -0.097,0.12284 -0.53358,0.41145 -0.97014,0.64135 l -0.79375,0.418 v -0.28913 c 0,-0.15902 0.47625,-0.57045 1.05833,-0.9143 0.58209,-0.34384 1.05834,-0.77841 1.05834,-0.9657 v -0.34052 l 2.16109,-1.39679 2.16109,-1.39678 0.31221,0.19296 0.3122,0.19295 2.17104,-1.31884 2.17104,-1.31883 1.10109,-1.16736 1.10109,-1.16736 2.45665,-0.51344 c 1.35117,-0.2824 3.80604,-0.79236 5.45527,-1.13326 l 2.99862,-0.61981 0.23642,-0.3725 c 0.13003,-0.20488 0.68566,-0.98736 1.23472,-1.73885 l 0.9983,-1.36635 1.49931,-0.64959 1.4993,-0.64958 v -0.89448 -0.89448 h -1.61069 -1.61069 l -0.70849,0.37917 -0.70849,0.37917 -0.19141,-0.73195 -0.19141,-0.73195 h -1.38748 -1.38749 l -1.01846,0.52667 -1.01847,0.52667 -0.54136,-0.20774 -0.54135,-0.20774 -2.39141,1.60116 -2.39141,1.60115 -0.93698,1.19452 -0.93699,1.19451 -2.4144,1.17185 -2.41441,1.17186 -0.98757,-0.06 -0.98757,-0.0601 -1.85612,1.32985 c -1.02086,0.73142 -2.36239,1.75616 -2.98118,2.27721 l -1.12506,0.94737 v 0.76926 0.76926 l -1.26477,1.72296 -1.26476,1.72296 h -0.42393 c -0.23316,0 -1.17214,0.70678 -2.08662,1.57063 l -1.6627,1.57063 v -0.35584 c 0,-0.19571 1.19063,-1.55421 2.64584,-3.0189 l 2.64583,-2.66305 v -1.16642 -1.16641 l 3.03149,-2.41241 c 1.66733,-1.32682 3.75754,-3.02226 4.64493,-3.76765 l 1.61343,-1.35525 1.04234,0.20847 1.04234,0.20846 1.5318,-0.96988 c 0.84249,-0.53344 1.53762,-1.12863 1.54473,-1.32266 l 0.013,-0.35278 -3.08686,0.10663 c -1.69777,0.0587 -4.42502,0.32766 -6.06056,0.59781 l -2.97371,0.49118 -0.90685,0.66847 c -0.95092,0.70095 -2.38074,1.15247 -3.96425,1.25186 -0.51741,0.0325 -1.05981,0.17811 -1.20533,0.32363 -0.14552,0.14553 -0.635,0.26459 -1.08773,0.26459 h -0.82316 v -0.32739 -0.3274 l 2.02847,-0.23077 2.02847,-0.23078 1.22775,-0.55525 1.22774,-0.55526 -0.69858,-0.27289 -0.69857,-0.27289 0.85689,-0.0248 c 0.4713,-0.0137 1.34442,-0.17245 1.94028,-0.35291 0.59586,-0.18045 1.71838,-0.51835 2.49449,-0.75087 l 1.41111,-0.42277 3.88056,-0.26882 c 4.54389,-0.31477 6.36451,-0.68686 7.98857,-1.63265 l 1.18365,-0.68932 0.43889,-0.90783 0.43889,-0.90783 1.85417,-1.41077 1.85416,-1.41077 3.175,-0.23733 c 1.74625,-0.13052 3.71614,-0.35269 4.37754,-0.49369 l 1.20252,-0.25638 0.677836,-0.90788 0.67783,-0.90788 0.14155,-1.46963 0.14156,-1.46963 1.32946,-3.08267 1.32948,-3.08267 -0.0385,-4.23333 -0.0385,-4.23333 -1.43086,-1.48269 -1.43086,-1.48267 -0.6473,-2.0365 -0.64731,-2.03649 -1.376156,-0.76932 -1.37617,-0.76932 -0.43078,-1.02453 -0.43078,-1.02453 -1.89722,-1.69032 -1.89721,-1.69031 -1.66125,-0.79078 c -0.91368,-0.43493 -1.86618,-0.95326 -2.11667,-1.15184 l -0.45542,-0.36107 -2.21574,-0.19082 -2.21574,-0.19083 -1.04745,0.52254 -1.04746,0.52254 v 0.80347 c 0,0.4419 -0.17279,1.29913 -0.38398,1.90495 l -0.38398,1.10149 -1.21871,0.7532 -1.21871,0.75321 -0.60217,1.2593 -0.60217,1.2593 -0.49992,0.16269 -0.49992,0.1627 0.80299,-1.12769 c 0.44164,-0.62023 0.73067,-1.20001 0.64228,-1.2884 -0.28334,-0.28334 -5.04816,1.77408 -5.39015,2.32744 -0.11671,0.18883 -0.38618,0.34333 -0.59883,0.34333 h -0.38664 l 0.59127,-0.65334 0.59127,-0.65334 3.67473,-1.84444 3.67474,-1.84444 0.56584,-0.86357 0.56583,-0.86357 -0.21187,-0.34282 -0.21187,-0.34281 h -0.82931 c -0.45612,0 -2.31207,0.4979 -4.12432,1.10644 l -3.29501,1.10644 -2.52357,0.0401 -2.52358,0.0401 0.16315,-0.26458 0.16314,-0.26458 h 2.20168 2.20168 l 0.33514,-0.29713 c 0.50447,-0.44725 5.63301,-2.17232 6.45819,-2.17232 h 0.72036 l 1.06731,-1.14203 1.06733,-1.14203 -0.72871,-0.26956 c -0.40078,-0.14826 -0.99209,-0.56415 -1.31402,-0.92419 l -0.58532,-0.65461 -3.175,-0.78775 c -4.64301,-1.15198 -5.87272,-1.39735 -7.08888,-1.41446 l -1.09166,-0.0154 -1.02501,0.88152 c -1.29587,1.11446 -1.29215,1.11485 -2.87607,-0.30144 -0.72817,-0.65109 -1.70404,-1.38332 -2.1686,-1.62716 l -0.84467,-0.44335 -1.36832,0.45158 -1.36832,0.45159 -0.2169,0.91099 c -0.1193,0.50105 -0.33309,1.06975 -0.47507,1.26377 -0.14199,0.19403 -0.44903,0.94542 -0.68231,1.66976 l -0.42416,1.31698 -1.04282,0.74256 -1.04282,0.74255 -1.10109,-0.38384 -1.10109,-0.38384 h -1.66367 -1.66367 l -0.86685,0.68186 c -0.47677,0.37503 -1.38809,1.16878 -2.02516,1.76389 -1.12533,1.05122 -1.79447,1.35778 -1.78424,0.81744 0.003,-0.14552 0.7886,-0.89958 1.74633,-1.67569 0.95773,-0.77611 1.74922,-1.53017 1.75888,-1.67569 l 0.0176,-0.26459 h -0.91282 -0.91282 l -2.35037,1.29857 -2.35038,1.29856 0.62595,-0.71847 c 0.34427,-0.39516 1.17771,-1.01561 1.85208,-1.37879 0.67438,-0.36317 1.22614,-0.77804 1.22614,-0.92193 v -0.26161 l 5.1366,0.1389 5.13661,0.13891 0.68648,-1.11999 c 0.37757,-0.61599 0.94452,-2.03279 1.25989,-3.14845 l 0.57339,-2.02848 h 0.85865 c 0.47226,0 1.13724,-0.14909 1.47774,-0.33132 l 0.61909,-0.33133 1.56258,0.3818 1.56258,0.3818 0.61881,0.53468 0.61881,0.53468 1.32147,-0.39641 c 0.7268,-0.21803 1.63897,-0.47756 2.02702,-0.57674 l 0.70556,-0.18031 2.55764,0.66196 2.55763,0.66195 v -0.24154 c 0,-0.13284 -0.46308,-0.51509 -1.02906,-0.84942 -0.56599,-0.33434 -1.70144,-1.31337 -2.52323,-2.17563 l -1.49415,-1.56775 -1.53372,-0.36987 c -0.84355,-0.20344 -2.2481,-0.54148 -3.12122,-0.75122 l -1.5875,-0.38135 v -1.13964 -1.13963 l -0.7193,-0.77208 c -0.39562,-0.42464 -0.87187,-0.77207 -1.05834,-0.77207 -0.18647,0 -0.33903,-0.15875 -0.33903,-0.35278 v -0.35278 h 0.635 c 0.34925,0 0.84222,0.19844 1.0955,0.44098 l 0.4605,0.44097 -0.23018,-1.23472 -0.23018,-1.23473 0.54579,0.68479 0.54579,0.68479 v 0.82585 c 0,0.45421 0.22421,1.36245 0.49824,2.01829 l 0.49823,1.19245 2.76496,0.60587 2.76496,0.60587 2.11667,2.00949 c 1.16416,1.10522 2.56042,2.29822 3.1028,2.65113 l 0.98613,0.64163 0.86366,-0.46221 0.86366,-0.46222 2.16521,1.68144 2.16521,1.68144 0.774,-0.35266 0.774,-0.35266 2.44294,0.18777 2.44294,0.18778 3.63441,1.76492 3.63441,1.76492 0.20455,1.02277 0.20456,1.02278 0.65895,0.35266 0.65896,0.35266 v -1.42352 -1.42353 l -0.44098,-0.009 c -0.60986,-0.0131 -2.44382,-1.66609 -3.60995,-3.2537 l -0.9717,-1.32292 h -0.62049 -0.62049 l -0.36217,-0.44097 c -0.1992,-0.24253 -0.41707,-0.835 -0.48417,-1.31659 l -0.122,-0.87563 -1.82114,-0.3591 -1.82115,-0.3591 -0.6483,-0.5674 c -0.35656,-0.31207 -1.15908,-0.73858 -1.78336,-0.94779 l -1.13507,-0.38039 -4.86216,0.12215 -4.86215,0.12214 0.88194,-0.31057 c 0.48507,-0.17081 2.3107,-0.44693 4.05695,-0.6136 l 3.175,-0.30304 -1.2988,-0.58388 c -0.71433,-0.32113 -1.38779,-0.72788 -1.49656,-0.90388 l -0.19778,-0.32001 1.49657,0.33617 1.49657,0.33618 0.70555,0.62706 0.70556,0.62707 2.75738,0.79798 c 3.24279,0.93847 3.32977,0.89946 2.44293,-1.09567 l -0.67947,-1.52863 -2.5128,-2.55764 -2.51279,-2.55764 h -0.53307 -0.53306 l -1.83225,-1.74759 c -1.00774,-0.96118 -1.93576,-1.68362 -2.06228,-1.60543 l -0.23003,0.14217 -1.84739,-2.09874 -1.84738,-2.09874 -1.12573,-0.005 -1.12573,-0.005 -0.52622,-0.33269 -0.52621,-0.33268 0.38057,-0.38058 0.38058,-0.38058 0.96236,0.36589 c 0.52929,0.20123 1.11077,0.36588 1.29216,0.36588 h 0.32982 v -0.51164 -0.51164 l -0.61736,-0.36385 -0.61737,-0.36386 0.51514,-0.33769 0.51514,-0.33769 -0.69153,-0.81529 c -0.38034,-0.44841 -0.84269,-0.92388 -1.02746,-1.0566 l -0.33593,-0.2413 -0.34138,0.21098 -0.34138,0.21099 0.2242,-0.58426 0.2242,-0.58426 -0.958,-0.49907 c -0.5269,-0.27448 -1.46039,-1.06948 -2.07442,-1.76666 l -1.11642,-1.267611 h -0.59654 -0.59654 l -1.04813,-0.88194 -1.04814,-0.88195 h -0.66607 -0.66608 l -0.35363,-0.66076 -0.35363,-0.66077 -1.53323,-0.38607 -1.53323,-0.38607 -1.27023,0.20613 -1.27024,0.20613 -0.81437,-0.57041 c -0.4479,-0.31372 -1.13623,-0.58046 -1.52962,-0.59276 l -0.71525,-0.0224 0.82483,-0.33055 0.82484,-0.33055 0.54819,0.30678 0.54818,0.30678 0.59197,-0.1548 0.59196,-0.1548 2.79124,0.71505 2.79124,0.71504 0.39794,0.54422 c 0.21887,0.29932 0.58676,0.54422 0.81754,0.54422 0.23078,0 0.90272,0.24983 1.4932,0.55518 1.61963,0.83754 1.62874,0.32564 0.0108,-0.60554 l -1.41129,-0.81223 -0.39174,-1.99118 -0.39174,-1.99117 -0.60885,-0.53416 c -0.33487,-0.29379 -1.24385,-0.87721 -2.01996,-1.29648 l -1.41111,-0.762312 1.41111,0.209498 1.41111,0.209494 0.82177,0.59903 0.82176,0.59903 0.6317,1.8768 c 0.34743,1.03223 0.80587,2.05097 1.01875,2.26385 l 0.38706,0.38705 0.23074,-0.60129 0.23074,-0.6013 -0.55338,-0.61147 c -0.30438,-0.33756 -0.6973,-1.00174 -0.87319,-1.4772 l -0.31979,-0.86448 0.83039,-0.65318 0.83038,-0.65318 v -0.813143 -0.813144 l 0.44544,-0.369687 0.44545,-0.369687 1.36705,-0.114481 1.36706,-0.114481 1.03979,-1.845041 1.0398,-1.845041 -0.33871,-1.588079 -0.3387,-1.58808 0.33039,0.204195 c 0.18172,0.112306 0.48033,0.598552 0.66358,1.080545 l 0.33319,0.87635 0.40701,-0.135669 c 0.22385,-0.07462 0.71461,-0.682835 1.09057,-1.351592 l 0.68357,-1.215922 -0.23076,1.022868 -0.23075,1.022868 -1.56755,2.037142 c -0.86215,1.120428 -1.56754,2.184769 -1.56754,2.365202 0,0.180433 -0.3893,0.748116 -0.8651,1.261518 l -0.8651,0.933458 h -0.90752 -0.90752 l -0.3073,0.808248 c -0.16901,0.444533 -0.57216,1.028073 -0.89589,1.296743 l -0.5886,0.48849 0.22417,0.89314 0.22416,0.89315 1.20963,1.33891 c 0.66529,0.7364 1.20962,1.5129 1.20962,1.72555 0,0.43498 0.83504,2.42601 1.68643,4.021051 0.3107,0.58208 1.85849,2.49376 3.43953,4.24818 l 2.87463,3.18986 0.26052,1.04348 c 0.30069,1.20431 1.16581,2.2782 1.83532,2.2782 h 0.46208 l 0.37761,0.70555 0.3776,0.70556 0.60495,10e-4 0.60495,0.001 4.09314,4.14407 4.09315,4.14407 1.68826,2.56036 1.68826,2.56036 0.44421,-0.36867 0.44421,-0.36866 1.07578,0.9833 1.07578,0.98331 0.75377,1.70501 0.75378,1.70501 0.20175,-0.20174 c 0.11096,-0.11097 0.24117,-1.09185 0.28935,-2.17974 l 0.0876,-1.97798 -1.694,-1.87058 c -0.9317,-1.02882 -2.11206,-2.58393 -2.623,-3.45579 l -0.929,-1.58522 -0.78264,-0.21461 -0.78263,-0.21462 0.52916,-0.35914 0.52917,-0.35914 -1.01084,-0.89368 c -1.0578,-0.9352 -1.09534,-1.38718 -0.083,-0.99869 l 0.59468,0.2282 0.65433,1.27941 c 0.35988,0.70367 1.3197,2.03414 2.13293,2.95658 l 1.4786,1.67718 0.32149,-0.19869 0.32149,-0.19867 -0.0125,-1.3021 -0.0125,-1.30209 -0.50417,-0.88195 c -0.27729,-0.48507 -0.50979,-1.02242 -0.51666,-1.1941 -0.0153,-0.38317 1.13917,1.07747 1.71232,2.16634 l 0.41891,0.79584 -0.4284,1.42988 -0.42841,1.42988 0.97599,0.90498 0.97598,0.90498 2.618266,0.0455 2.61826,0.0455 -0.23948,-0.53042 c -0.24747,-0.54809 -1.17714,-4.34829 -1.90461,-7.78538 l -0.41553,-1.96329 0.22214,-1.74088 c 0.33345,-2.61329 0.31428,-2.83691 -0.61193,-7.13608 l -0.858336,-3.98411 -0.49697,-0.60201 c -0.5444,-0.65947 -1.14772,-1.850821 -1.67271,-3.303061 l -0.33879,-0.93717 -1.87335,-1.2339 c -1.03035,-0.67865 -2.42898,-1.46731 -3.10808,-1.75258 -0.67909,-0.28528 -1.70811,-0.93249 -2.28669,-1.43826 l -1.05197,-0.91958 -1.0647,0.0255 c -0.58558,0.014 -1.81876,-0.17446 -2.74039,-0.41886 l -1.67569,-0.44435 v -0.29334 -0.29334 h 0.68473 c 0.37661,0 0.77127,0.14 0.87702,0.31112 l 0.19229,0.31112 1.41603,0.0195 1.41604,0.0195 v -0.43961 c 0,-0.24179 -0.54404,-1.343087 -1.20898,-2.447332 -0.66495,-1.104248 -1.1166,-2.007721 -1.00366,-2.007721 0.45572,0 -1.23498,-1.579547 -2.6861,-2.509493 l -1.54734,-0.991618 -1.62766,0.166614 -1.62765,0.166614 1.41111,-0.69121 1.41111,-0.69121 -0.12322,-0.811654 -0.12322,-0.811655 -1.54108,-2.163912 c -1.66266,-2.33464 -3.43258,-4.009699 -4.23677,-4.009699 h -0.5021 v -0.352778 c 0,-0.194027 0.06,-0.352777 0.13331,-0.352777 0.4258,0 2.6764,1.105454 2.862,1.405766 0.58436,0.94552 1.13812,0.02922 1.59573,-2.640489 l 0.24188,-1.411111 0.0446,1.234722 c 0.0245,0.679098 -0.10384,1.869723 -0.28522,2.645834 l -0.32979,1.411111 1.39388,1.992561 1.39388,1.99256 0.44363,1.324408 0.44363,1.324408 0.70556,0.354635 c 0.38805,0.19505 0.93856,0.462738 1.22335,0.594863 0.28478,0.132124 0.76103,0.644378 1.05833,1.138342 0.2973,0.493964 1.46142,2.099116 2.58694,3.567003 l 2.0464,2.668888 1.22126,0.75478 c 0.67169,0.41513 1.38358,1.05809 1.58198,1.4288 l 0.36073,0.67403 h 0.43378 c 0.23859,0 1.0346,0.32202 1.76893,0.71559 l 1.33514,0.71559 0.33533,-0.20724 c 0.18443,-0.11399 0.33533,-0.38608 0.33533,-0.60466 0,-0.21858 0.29426,-0.72515 0.65391,-1.12571 l 0.65391,-0.72829 0.60813,-1.9137 c 0.33447,-1.052528 0.833736,-3.195653 1.109486,-4.762497 l 0.50137,-2.848805 -0.0293,-5.644445 c -0.0161,-3.104444 -0.14466,-6.569454 -0.28567,-7.70002 l -0.25639,-2.055576 -1.195916,-0.943035 c -0.65774,-0.51844 -1.94249,-1.226033 -2.85499,-1.572198 l -1.65907,-0.629392 -1.44496,-1.567587 c -0.79472,-0.862173 -1.44495,-1.747053 -1.44495,-1.966401 v -0.398744 l 1.56352,1.739021 1.56353,1.739021 1.52328,0.445927 c 0.8378,0.24526 2.03921,0.744516 2.6698,1.109458 l 1.146526,0.66353 v -0.270324 c 0,-0.148679 -0.13825,-0.421137 -0.30723,-0.605464 -0.16898,-0.184326 -0.407686,-0.761972 -0.530456,-1.283657 l -0.22323,-0.948519 0.32536,-0.201088 0.325366,-0.201087 0.23223,1.057366 c 0.12773,0.581552 0.38676,1.152863 0.57561,1.269581 l 0.34337,0.212215 1.22093,-0.579366 1.22092,-0.579367 0.5464,-0.833903 c 0.30051,-0.458647 0.77867,-0.923035 1.06256,-1.031975 l 0.51616,-0.198071 -0.40148,0.75018 c -0.22082,0.412599 -1.07123,1.401214 -1.88979,2.196922 -0.81858,0.795708 -1.56845,1.684867 -1.66639,1.975908 l -0.17807,0.529167 0.46801,1.763889 0.46802,1.763889 0.004,4.63111 0.004,4.63111 0.48012,0.398465 0.48012,0.398465 1.31347,-0.548802 c 0.7224,-0.301841 1.57791,-0.510239 1.90113,-0.463108 l 0.58764,0.08569 1.94027,-0.915616 c 1.06716,-0.50359 2.29747,-1.021385 2.73403,-1.150657 l 0.79375,-0.23504 v 0.397371 0.39737 l -0.35278,-0.218028 -0.35277,-0.218029 v 0.335354 0.335353 l -0.96932,0.243283 c -0.53312,0.133806 -1.8807,0.86539 -2.99462,1.625744 l -2.02531,1.382461 h -0.84274 -0.84273 l -0.41208,0.496516 -0.41207,0.496515 -0.31615,1.708346 c -0.17389,0.93959 -0.57065,2.740221 -0.88171,4.001401 l -0.56554,2.293053 -0.73064,1.01123 -0.73063,1.01122 0.15865,1.63461 0.15865,1.63461 1.64618,4.109961 1.64617,4.10995 v 1.04177 c 0,0.57297 0.10048,2.00308 0.22328,3.17802 l 0.22328,2.13626 0.92235,0.17632 0.92234,0.17631 0.2508,-0.40579 0.25079,-0.40579 -0.33809,-0.33809 -0.33809,-0.33808 v -0.96778 -0.96777 l -0.73146,-0.51234 -0.73147,-0.51234 0.32741,-0.20235 0.32741,-0.20235 0.71595,0.78288 0.71595,0.78288 0.41084,2.42059 0.41084,2.4206 0.88633,1.69508 0.88633,1.69507 0.53646,0.20586 c 0.29505,0.11322 0.73675,0.20585 0.98157,0.20585 h 0.44512 l 1.13901,-2.91041 c 0.62645,-1.60073 1.39027,-3.18823 1.69737,-3.52778 l 0.55836,-0.61736 0.56269,-0.003 c 0.30947,-0.002 1.31689,-0.36851 2.23871,-0.81497 l 1.67603,-0.81174 0.51761,-0.68434 0.51762,-0.68433 0.0112,-1.45227 0.0112,-1.45225 -0.74032,-1.78142 -0.74032,-1.78141 -0.84718,-0.212631 -0.84717,-0.21268 v -0.34606 c 0,-0.49186 0.46146,-0.42868 1.25549,0.17189 0.93304,0.705731 1.0553,0.680701 2.08162,-0.42614 l 0.89622,-0.96654 v -0.60014 c 0,-0.33009 -0.13697,-0.68481 -0.30439,-0.78827 -0.16741,-0.10347 -0.50089,-0.88996 -0.74105,-1.74776 l -0.43668,-1.55964 0.23567,-0.7425 c 0.12961,-0.40838 0.37373,-0.74251 0.54249,-0.74251 h 0.30682 l -0.18878,1.16331 -0.18878,1.16332 0.56374,1.34921 c 0.31005,0.74207 0.56374,1.66828 0.56374,2.05824 v 0.70903 l -0.75794,1.22637 -0.75794,1.226371 0.58155,1.84489 c 0.31985,1.01468 0.58155,2.32452 0.58155,2.91074 v 1.06585 l -1.38263,1.57074 -1.38262,1.57075 -1.43519,0.64718 -1.43519,0.64718 -0.78375,1.27133 c -0.43106,0.69923 -1.04326,1.92115 -1.36045,2.71539 l -0.57671,1.44406 -0.23699,2.01638 -0.23698,2.01637 -0.53365,0.81444 -0.53364,0.81445 0.16848,1.36956 c 0.0927,0.75326 0.20445,2.1928 0.24841,3.19898 l 0.0799,1.82941 -0.40079,0.48291 -0.40078,0.48293 -0.23698,2.84153 -0.23697,2.84153 0.40185,0.24835 0.40186,0.24836 0.20588,-0.63972 c 0.11324,-0.35184 0.33345,-0.95722 0.48936,-1.34527 0.15591,-0.38806 0.53891,-1.41993 0.85111,-2.29306 0.3122,-0.87312 1.05033,-2.42751 1.6403,-3.4542 l 1.07266,-1.8667 0.88104,-0.33497 0.88104,-0.33497 0.60278,-1.12486 c 0.33153,-0.61868 1.17103,-1.77105 1.86555,-2.56083 l 1.26275,-1.43597 1.52059,-4.33818 1.52058,-4.33817 2.22382,-2.22383 2.22383,-2.22382 0.16339,-0.84633 c 0.0899,-0.46549 0.35203,-2.35446 0.58259,-4.19772 l 0.4192,-3.351391 0.31927,-0.33514 0.31927,-0.33514 v 0.5789 0.5789 l 0.38992,0.24099 0.38992,0.24098 2.07952,-2.18537 2.07953,-2.18536 v 0.56441 0.56442 l -2.34779,2.31336 -2.34778,2.313371 -0.16637,1.73143 -0.16637,1.73144 0.45794,0.55178 0.45794,0.55178 1.43886,-0.23707 c 0.79136,-0.13038 1.62714,-0.38889 1.85727,-0.57444 l 0.41842,-0.33737 0.70492,0.37726 c 0.3877,0.20749 1.01689,0.37726 1.39821,0.37726 h 0.69329 l 1.83395,-1.23416 1.83394,-1.23415 0.37849,0.23391 0.37849,0.23392 -0.73575,0.27217 -0.73573,0.27217 -0.35731,0.63846 -0.3573,0.63846 2.88481,0.43819 c 1.58665,0.241 3.84431,0.53935 5.01703,0.663 l 2.13222,0.22482 1.41494,-0.72185 1.41494,-0.72185 1.01262,-1.60202 1.01263,-1.60201 1.83908,-1.33634 c 1.0115,-0.734981 2.34036,-1.610971 2.95303,-1.946631 l 1.11395,-0.6103 0.91967,-2.03554 c 0.50582,-1.11954 1.21505,-2.45998 1.57607,-2.97875 l 0.6564,-0.94322 2.15414,-0.82067 2.15414,-0.82067 0.57503,-0.815784 c 1.28188,-1.81856 2.24539,-2.888385 2.60135,-2.888385 h 0.3761 l -0.58385,0.645139 c -0.32111,0.354826 -0.58384,0.747732 -0.58384,0.873125 v 0.227986 l 1.14653,-0.215993 1.14652,-0.215993 0.61953,-0.537377 0.61952,-0.537377 0.24114,0.241137 0.24114,0.241137 -0.86066,0.60667 c -0.47337,0.333669 -0.94004,0.620773 -1.03705,0.63801 -0.097,0.01724 -0.65264,0.157358 -1.23473,0.31138 l -1.05833,0.280041 -1.23472,1.153644 -1.23472,1.15365 -1.95245,0.87924 c -2.16638,0.97558 -2.69778,1.47513 -3.14091,2.95264 -0.16567,0.55238 -0.40579,1.26047 -0.53361,1.57352 l -0.23239,0.5692 1.34218,0.20401 1.34218,0.20401 1.51797,-0.28828 1.51798,-0.28827 0.80628,-0.75746 0.80628,-0.75747 2.40528,-0.22461 2.40529,-0.22461 1.79685,-1.453 c 2.00651,-1.62254 4.44968,-3.13136 4.6867,-2.89434 0.0853,0.0853 -0.45064,0.59995 -1.19099,1.14365 -0.74035,0.54371 -1.77649,1.43592 -2.30255,1.9827 l -0.95646,0.99415 0.18307,0.47706 0.18307,0.47707 -2.93078,0.15809 -2.93077,0.15808 -1.32292,0.63297 -1.32292,0.63298 v 0.35372 0.35373 l 0.70521,-0.18442 0.7052,-0.18441 0.17736,0.28697 0.17736,0.28698 -1.8527,0.17318 c -1.01899,0.0953 -2.30072,0.28941 -2.84829,0.43146 l -0.99559,0.25827 -0.82889,-0.44361 -0.82888,-0.44361 -1.70331,0.8109 c -0.93681,0.44599 -2.22476,1.259911 -2.8621,1.808721 -0.63734,0.54881 -1.30457,0.99784 -1.48272,0.99784 h -0.32393 l -0.35716,1.29353 -0.35716,1.29354 -1.06944,1.10338 -1.06944,1.10338 2.20377,0.46507 c 1.21207,0.25579 3.63252,0.95094 5.37877,1.54478 l 3.175,1.0797 3.59219,-0.0665 3.59219,-0.0665 0.46475,0.65644 c 0.25562,0.36105 0.94101,0.91275 1.52309,1.226 l 1.05834,0.56954 -0.76669,0.0141 -0.76668,0.0141 -1.04813,-0.88194 -1.04813,-0.88195 h -1.06675 c -0.58671,0 -1.31786,0.0964 -1.62477,0.21414 l -0.55802,0.21416 v 0.50048 0.50048 l -1.05855,-0.5474 c -0.58221,-0.30107 -1.86393,-0.70013 -2.84827,-0.88681 -0.98434,-0.18667 -2.33425,-0.59781 -2.99979,-0.91363 l -1.21007,-0.57422 -0.93132,0.17804 -0.93132,0.17803 -1.24115,-0.51859 -1.24116,-0.51858 -3.20599,0.22501 -3.20599,0.22502 -2.64584,-0.51413 c -1.4552,-0.28277 -3.52685,-0.73979 -4.60365,-1.01559 l -1.95783,-0.50146 -2.9888,0.20185 -2.9888,0.20184 -1.93254,1.27527 c -1.0629,0.70139 -2.43446,1.53166 -3.04792,1.84503 l -1.11538,0.56977 -0.72907,0.92686 c -0.40098,0.50977 -1.233,1.98138 -1.84893,3.27025 l -1.11985,2.34338 -0.12166,1.85293 -0.12166,1.85292 0.66235,0.66235 0.66235,0.66235 2.04046,0.35155 2.04045,0.35154 1.66911,-0.83835 c 0.91802,-0.46109 1.88419,-0.84531 2.14705,-0.85383 0.26286,-0.008 1.09563,-0.23563 1.8506,-0.5047 l 1.37267,-0.48922 0.75508,0.49475 c 0.4153,0.27211 1.78197,0.82307 3.03705,1.22434 l 2.28198,0.72959 2.01573,0.21123 2.01573,0.21123 0.91043,-0.59654 0.91044,-0.59654 0.3469,-0.91242 0.3469,-0.91242 0.2129,0.2129 0.21291,0.2129 0.65877,-0.35256 0.65877,-0.35257 3.37477,0.6028 3.37476,0.60279 1.7007,-0.61156 1.70071,-0.61157 1.68833,0.10916 1.68832,0.10917 0.14517,0.44097 0.14517,0.44098 h -1.94886 -1.94886 l -0.21802,0.35277 -0.21803,0.35278 0.99096,0.004 0.99096,0.004 2.29305,1.4787 2.29306,1.47871 1.45439,0.0173 1.45439,0.0172 -0.16922,0.44097 -0.16922,0.44097 h -0.82338 -0.82338 l -0.22158,-0.35853 -0.22159,-0.35853 -0.28555,0.17648 -0.28555,0.17648 -1.18938,-0.57926 c -0.65416,-0.3186 -1.58625,-0.85042 -2.07132,-1.18182 -0.89451,-0.61113 -1.6721,-0.8143 -5.46806,-1.42869 -6.87568,-1.11285 -7.59769,-1.09162 -8.31272,0.24442 l -0.47442,0.88647 -0.98629,0.19725 -0.98629,0.19691 v 0.3417 0.34171 l 0.70556,0.18451 0.70555,0.1845 v 0.48803 0.48802 l -0.44097,-0.0115 c -0.24254,-0.006 -1.3141,-0.31867 -2.38125,-0.69406 l -1.94028,-0.68252 -3.03923,-0.0115 -3.03923,-0.0115 -0.89697,-0.70556 -0.89697,-0.70555 h -1.25486 -1.25486 l -0.37698,0.7044 -0.37699,0.7044 -1.33907,0.68315 -1.33907,0.68314 -1.38316,-0.3208 c -0.76074,-0.17644 -2.29742,-0.32458 -3.41485,-0.32921 l -2.03168,-0.008 -1.10745,1.05834 -1.10744,1.05833 h -0.806 -0.80601 l -1.19159,1.4993 c -0.65538,0.82462 -1.48854,1.97421 -1.85146,2.55463 l -0.65985,1.05532 0.0767,1.30073 0.0767,1.30073 -0.7312,2.40645 c -0.40217,1.32355 -1.08262,3.11438 -1.51211,3.97962 l -0.7809,1.57318 0.0321,6.36432 0.0321,6.36433 0.40749,2.11667 c 0.22412,1.16416 0.57834,2.83104 0.78716,3.70416 0.20881,0.87313 0.46555,2.10866 0.57051,2.74563 l 0.19085,1.15813 1.10658,0.55968 c 0.60862,0.30782 1.43416,0.95903 1.83454,1.44713 l 0.72795,0.88746 0.74816,-0.4004 c 0.41152,-0.22022 1.16338,-0.4004 1.67084,-0.4004 h 0.92266 l 1.11591,0.57706 c 0.61375,0.31738 1.3954,0.93237 1.737,1.36665 l 0.62109,0.78959 2.01023,0.1667 2.01024,0.1667 0.74164,0.93011 0.74164,0.9301 1.75922,0.33364 c 0.96758,0.18349 1.99564,0.3098 2.28458,0.28068 0.28894,-0.0291 2.50973,0.0811 4.93508,0.24486 l 4.40972,0.29781 0.84652,0.32077 c 0.46559,0.17642 1.59277,0.94557 2.50487,1.70922 0.91209,0.76364 2.0893,1.55229 2.61602,1.75255 l 0.95769,0.36411 h 1.7422 1.7422 l 1.31642,0.70556 c 0.72402,0.38805 1.59657,0.70555 1.93899,0.70555 h 0.62259 v 0.35278 0.35278 h -0.63813 c -0.35097,0 -0.94628,-0.23308 -1.32292,-0.51795 l -0.68478,-0.51794 -1.52308,-0.0112 -1.52308,-0.0112 0.22393,0.70555 0.22394,0.70556 h -0.52917 -0.52916 l -0.21009,-0.66191 -0.21008,-0.6619 -2.01855,-0.69306 c -1.1102,-0.38119 -2.78033,-0.87854 -3.7114,-1.10522 l -1.69284,-0.41216 -0.68841,0.36843 -0.6884,0.36842 v 0.42872 c 0,0.23579 0.65398,1.14302 1.45329,2.01605 l 1.45328,1.58735 1.30678,2.30314 1.30677,2.30315 -0.14739,0.44219 -0.1474,0.44219 0.57047,0.87063 0.57046,0.87064 h -0.31705 -0.31704 l -1.41724,-2.91041 -1.41725,-2.91042 -2.02602,-2.46944 c -1.11432,-1.3582 -2.62298,-3.14781 -3.35259,-3.97692 l -1.32657,-1.50747 -1.88861,-0.56637 -1.88862,-0.56636 -3.80435,0.0482 -3.80435,0.0482 -1.13454,-0.58409 c -0.62399,-0.32126 -1.78589,-1.11629 -2.58198,-1.76675 -1.60928,-1.31488 -1.78521,-1.35224 -3.68606,-0.78273 l -1.3348,0.39991 0.29365,0.74661 c 0.16151,0.41064 0.65403,1.92689 1.0945,3.36946 l 0.80084,2.62284 0.64035,0.64035 0.64035,0.64035 h 1.24984 1.24983 l 1.66059,1.54784 1.66058,1.54784 2.11666,1.13243 c 1.16417,0.62284 2.45997,1.44906 2.87956,1.83606 l 0.7629,0.70363 0.79469,2.17235 c 0.43708,1.1948 1.17601,2.9422 1.64208,3.88313 1.12406,2.26936 0.76612,2.50376 -0.56285,0.36858 l -1.05592,-1.69649 -0.42399,-1.51435 c -0.2332,-0.83289 -0.53584,-1.51435 -0.67254,-1.51435 h -0.24854 l 0.29147,2.20486 c 0.39387,2.97952 2.99038,9.34638 6.34424,15.55658 l 0.35196,0.65171 -0.20083,0.20084 c -0.24888,0.24887 0.14719,0.97149 -3.43474,-6.26677 -3.27175,-6.61144 -3.63592,-7.57808 -3.98713,-10.58333 -0.12471,-1.06715 -0.31344,-2.29341 -0.41939,-2.72501 l -0.19265,-0.78473 -2.66216,-1.77291 -2.66215,-1.77291 h -0.78113 -0.78114 l -1.36631,-1.08581 -1.36632,-1.08581 -0.94448,0.18889 -0.94448,0.1889 -0.43915,-0.52915 -0.43915,-0.52914 -0.34138,0.34138 -0.34138,0.34138 0.23686,1.26253 0.23685,1.26253 1.04208,0.77044 c 0.57314,0.42374 1.04305,0.93902 1.04424,1.14507 10e-4,0.20605 0.25114,0.85088 0.55543,1.43296 0.30428,0.58208 0.77956,1.92512 1.05616,2.98454 l 0.50291,1.9262 -0.0278,1.42519 c -0.0305,1.56201 -0.15118,1.41297 -0.48841,-0.60329 l -0.22126,-1.32292 h -0.33679 -0.3368 l -0.0112,0.61736 c -0.006,0.33955 -0.24429,0.92552 -0.52916,1.30215 -0.28487,0.37664 -0.51795,0.95272 -0.51795,1.28018 v 0.59539 l 1.20095,1.99437 c 0.66052,1.0969 1.36071,2.1877 1.55599,2.42399 l 0.35504,0.42962 0.15492,2.46944 c 0.0852,1.3582 0.27665,2.82664 0.42543,3.2632 l 0.27051,0.79375 h -0.43166 -0.43167 l 0.17489,-0.45575 0.17489,-0.45575 -0.48992,-0.67001 -0.48993,-0.67001 v -2.19427 -2.19427 l -0.97014,-0.8283 -0.97013,-0.8283 -0.47672,-1.23153 c -0.2622,-0.67734 -0.55846,-1.58843 -0.65836,-2.02463 l -0.18165,-0.7931 0.51577,-0.7944 0.51577,-0.7944 0.23667,-2.34281 0.23668,-2.3428 -0.34016,-0.89468 -0.34015,-0.89467 -1.69421,-0.97827 c -1.91985,-1.10857 -2.25618,-1.52567 -2.75253,-3.41359 l -0.35278,-1.34181 -0.35278,0.10709 -0.35278,0.10709 0.10155,0.79375 0.10155,0.79375 h -0.47197 c -0.25958,0 -0.65871,-0.18675 -0.88696,-0.415 l -0.41499,-0.41499 -0.66297,0.59997 c -0.36463,0.32998 -0.94954,1.13211 -1.2998,1.78251 l -0.63684,1.18253 0.79495,2.95402 c 0.43722,1.62471 0.95883,3.53241 1.15913,4.23933 l 0.36419,1.28532 -0.28573,0.46232 -0.28572,0.46231 -0.72847,-2.95303 -0.72847,-2.95304 -0.43881,-0.14619 -0.43879,-0.14618 -0.33319,0.87635 c -0.18326,0.48199 -0.50173,0.98051 -0.70773,1.10782 l -0.37456,0.23148 0.001,-0.46179 c 7e-4,-0.25399 0.33735,-1.01302 0.74806,-1.68675 l 0.74675,-1.22496 -0.42431,-1.17338 -0.4243,-1.17338 0.42119,-0.5075 0.42118,-0.5075 -0.21237,-0.84615 -0.21237,-0.84617 0.52576,-0.43633 c 0.6771,-0.56195 0.66731,-1.21633 -0.0286,-1.91225 l -0.55446,-0.55437 h -0.64127 -0.64128 l -0.79621,0.64473 -0.7962,0.64473 0.37338,0.66721 0.37339,0.6672 -0.66599,0.93531 -0.666,0.9353 -1.05092,0.21018 -1.05093,0.21019 -0.63337,0.96498 -0.63337,0.96499 -0.19951,2.8394 -0.19951,2.83939 0.46409,0.55695 0.4641,0.55694 v 0.82065 0.82065 l -0.65454,-0.59235 -0.65454,-0.59235 -0.56676,0.21749 -0.56675,0.21748 -0.21391,0.67399 -0.21392,0.67398 0.20822,3.61797 c 0.11452,1.98989 0.33448,4.09287 0.48881,4.67329 l 0.28061,1.05531 0.71301,0.10526 0.71302,0.10527 1.31668,2.54057 c 0.72417,1.39731 1.61553,3.09619 1.9808,3.77529 0.83624,1.55471 1.96431,4.14378 2.29843,5.27522 l 0.25559,0.86549 -0.51257,-0.51272 c -0.28192,-0.28199 -0.77691,-1.28859 -1.09999,-2.23688 l -0.5874,-1.72418 -0.9004,-1.18048 c -0.49522,-0.64927 -1.26634,-1.97033 -1.7136,-2.93569 -0.97231,-2.09863 -1.54839,-2.84242 -2.20149,-2.84242 h -0.48597 v 0.48597 c 0,0.26728 0.22752,0.67479 0.50559,0.90557 l 0.50559,0.4196 0.7025,3.23957 c 0.38637,1.78176 0.78865,3.74934 0.89396,4.37241 l 0.19147,1.13285 -0.30719,0.18986 -0.30719,0.18985 -0.16858,-1.67548 c -0.0927,-0.92151 -0.57157,-3.00836 -1.06413,-4.63745 l -0.89556,-2.96196 -0.74016,-1.00113 -0.74017,-1.00113 -0.19771,-5.49238 -0.19772,-5.49237 0.43004,-0.51817 0.43005,-0.51817 0.17773,-3.398 0.17774,-3.398 -1.16381,0.23276 c -0.640096,0.12802 -1.401766,0.43025 -1.692596,0.67162 l -0.52879,0.43885 -0.64939,-0.11001 -0.64938,-0.11001 -1.98509,1.87392 -1.98508,1.87392 -1.52815,2.33717 -1.52814,2.33717 -0.49553,0.19015 -0.49553,0.19015 -0.23422,1.17108 -0.23421,1.17107 -0.88761,1.34127 -0.88761,1.34127 -0.322,-0.199 -0.322,-0.19901 0.8645,-1.27392 0.86449,-1.27391 v -0.65633 c 0,-0.97727 -2.53574,0.23916 -3.75546,1.80155 l -0.40407,0.5176 -0.2338,2.06647 -0.23379,2.06646 -1.029,3.06038 c -0.56595,1.68321 -1.27571,4.2436 -1.57723,5.68975 l -0.54823,2.62937 -0.45072,0.54563 c -1.32615,1.60544 -1.58762,3.57807 -0.7737,5.8373 1.08302,3.00619 0.35873,3.1887 -0.79133,0.1994 z m 35.531556,-43.32648 c 0.20206,-0.72761 0.36828,-1.64976 0.36936,-2.04924 l 0.002,-0.72633 -0.491,-0.67147 -0.49099,-0.67147 -0.55021,0.45663 -0.5502,0.45663 0.078,1.82311 c 0.0792,1.84995 0.37958,2.70505 0.95025,2.70505 h 0.31538 l 0.36739,-1.32291 z m -9.15367,-36.71747 v -1.3515 l -0.79375,-0.38495 c -0.43657,-0.21172 -1.21006,-0.47461 -1.71888,-0.5842 l -0.92513,-0.19926 -0.21258,-1.06291 -0.21258,-1.06291 h -0.339416 -0.33942 l 0.19765,1.32292 c 0.25102,1.68023 0.844286,2.95328 1.521876,3.26572 0.29105,0.1342 1.00542,0.50181 1.5875,0.8169 0.58209,0.3151 1.09803,0.57714 1.14653,0.5823 0.0485,0.005 0.0882,-0.59879 0.0882,-1.34211 z m 2.61899,-4.91031 c -0.0832,-1.30969 -0.24383,-3.0816 -0.35696,-3.93759 l -0.2057,-1.55634 -1.02412,-2.23602 -1.02412,-2.23602 h -2.62611 -2.626096 l -0.18854,0.61736 -0.18855,0.61736 0.27671,1.98868 0.27672,1.98867 1.563736,1.7878 1.56376,1.7878 0.79076,0.0159 0.79076,0.0159 0.44063,0.70556 0.44062,0.70555 h 0.46266 0.46266 l 0.36894,1.05834 c 0.20291,0.58208 0.50046,1.05833 0.66122,1.05833 h 0.29229 l -0.15127,-2.38125 z m 2.50992,-11.99445 c 0.11192,-0.53357 0.35306,-1.63575 0.53589,-2.44927 0.18283,-0.81352 0.33242,-1.86368 0.33242,-2.33367 v -0.85454 l -0.74334,-0.94501 c -0.40884,-0.51975 -1.19728,-1.88211 -1.7521,-3.02746 l -1.00876,-2.08246 -0.72463,-0.38782 -0.72464,-0.38781 -0.34264,0.21176 -0.34263,0.21176 0.13976,1.83302 c 0.0769,1.00817 0.37916,3.05937 0.67177,4.55824 l 0.532,2.7252 1.11516,1.9491 1.11516,1.9491 h 0.49656 0.49656 z m 30.94631,83.63129 -0.43727,-0.94169 0.19187,-0.19187 0.19188,-0.19187 0.32819,0.51895 c 0.29206,0.46181 0.47772,1.758 0.2508,1.75092 -0.0485,-0.001 -0.28496,-0.42651 -0.52547,-0.94444 z M 114.35569,197.0631 v -0.88194 l 0.17794,0.44097 c 0.0979,0.24253 0.0979,0.63941 0,0.88194 l -0.17794,0.44098 z m -0.5556,-1.36376 -0.2763,-0.44707 0.21171,-0.21171 0.21172,-0.21172 0.21313,0.21314 c 0.11723,0.11722 0.14629,0.41368 0.0646,0.65878 l -0.14855,0.44564 z M 60.501384,183.30477 c 0.11992,-0.19403 0.36741,-0.35278 0.54999,-0.35278 0.18258,0 0.33196,0.15875 0.33196,0.35278 v 0.35278 h -0.54999 -0.54998 z m -2.03481,-65.26389 c -0.33226,-0.38806 -0.51586,-0.70556 -0.40799,-0.70556 0.45646,0 1.56086,0.75762 1.56086,1.07074 0,0.5517 -0.50469,0.39183 -1.15287,-0.36518 z m 7.73805,-9.40741 c -0.12935,-0.12935 -0.23518,-0.32894 -0.23518,-0.44352 v -0.20832 l 1.67569,0.12494 1.6757,0.12493 0.33514,0.31858 0.33514,0.31857 h -1.77565 -1.77565 z m -4.46851,-0.47037 v -0.35278 h 1.41111 1.41111 v 0.35278 0.35278 h -1.41111 -1.41111 z M 49.741664,94.404759 v -0.35277 h 1.39029 1.39029 l 0.21803,0.35277 0.21803,0.35278 h -1.60832 -1.60832 z m 29.10772,-3.53353 0.22159,-0.35853 0.3284,0.20296 c 0.48932,0.30242 0.39808,0.51411 -0.22158,0.51411 h -0.54999 z m -22.05216,-1.384058 c -0.48507,-0.14896 -1.43757,-0.610972 -2.11667,-1.026692 -0.6791,-0.41572 -1.51253,-0.756448 -1.85208,-0.757173 l -0.61736,-0.0013 v -0.396875 -0.396875 l 1.12338,0.224676 1.12337,0.224676 0.66205,0.599143 0.66205,0.599144 0.26902,-0.435282 0.26902,-0.435282 0.64606,0.713893 c 0.35534,0.392641 0.85022,0.713893 1.09974,0.713893 0.24951,0 0.55178,0.15875 0.67169,0.352778 l 0.21803,0.352778 -0.63818,-0.03032 c -0.351,-0.0167 -1.03505,-0.152221 -1.52012,-0.301182 z m 14.46389,-9.508552 c 0,-0.173269 0.23004,-0.403309 0.5112,-0.511201 l 0.5112,-0.196166 -0.19617,0.511201 c -0.21412,0.558 -0.82623,0.703328 -0.82623,0.196166 z"
       id="path32"
       inkscape:connector-curvature="0" />
  </g>
  </svg>