//- head
- var charset = "utf-8";
- var viewport = "width=device-width, initial-scale=1, user-scalable=no";
- var title = "BrandaLoka template";
    //- fonts
    -
        var fonts = {
            fontawesome: "fonts/font-awesome.min.css",
            homizio: "fonts/homizio.css"
            }
    //- stylesheets
    - 
        var stylesheets = { 
            main: "css/style.css"
            }