<!-- Element background video (parallax) -->
<div class="full-cover bg-image" data-stellar-ratio="0.4" style="background-image: url(img/intro/parallax-intro-bg.jpg);"></div>

<!-- Element cover -->
<div class="cover"></div>

<!-- Intro caption -->
<div class="intro-caption text-white" data-stellar-ratio="0.6">
    <h1><span class="bg-main text-white">ex't</span> cepteur,<br> sint occaecat,<br> cupid proident.
    </h1>
    <p>ute enim ad venim.</p>
</div>

<!-- Made with love :) -->
<!--
<div class="made-with-love hidden-xs" data-stellar-ratio="0.2">
    <p class="text-white">made with <span class="text-red"><i class="fa fa-heart-o"></i></span></p>
</div>
-->

<!-- Scroll down arrow -->
<a class="scroll-down-arrow page-scroll text-center" href="#section-1"><span class="text-white"><i class="fa fa-arrow-down"></i></span></a>
