//@import "model/variables.less";
@font-family: 'Play', sans-serif;
//main
@red: #F20000;
//white
@white: #FFFFFF;
@whiteF5: #f5f4e9;
@whiteF2: #F2F2F2;
//black
@black: #000000;
@black18: #181818;
@black1: #111111;
//grey
@grey: #242e30;
@dark-grey: #909090;
@grey3: #333333;
@greyCD: #CDCDCD;
@greyblue: #3a4a4d;
@grey8: #888888;
@greyB: #BBBBBB;
@grey3C: #3C3C3C;
@greyD: #DDDDDD;
//other
@green: #4B9D13;
@blue: #3078B3;
@yellow: #FF9C00;
@brown: #A38027;
@purple: #800080;
// helper.less loop
//
// padding classes
//
// padding
.gen-padding(@n, @i: 0) when (@i =< 100) {
    .padding-@{i} {
        padding: (@n) !important;
    }
    .gen-padding((@n + 5px), (@i + 5));
}

// padding-top
.gen-padding-top(@n, @i: 0) when (@i =< 100) {
    .padding-top-@{i} {
        padding-top: (@n) !important;
    }
    .gen-padding-top((@n + 5px), (@i + 5));
}

// padding-bottom 
.gen-padding-bottom(@n, @i: 0) when (@i =< 100) {
    .padding-bottom-@{i} {
        padding-bottom: (@n) !important;
    }
    .gen-padding-bottom((@n + 5px), (@i + 5));
}

// padding-left 
.gen-padding-left(@n, @i: 0) when (@i =< 100) {
    .padding-left-@{i} {
        padding-left: (@n) !important;
    }
    .gen-padding-left((@n + 5px), (@i + 5));
}

// padding-right 
.gen-padding-right(@n, @i: 0) when (@i =< 100) {
    .padding-right-@{i} {
        padding-right: (@n) !important;
    }
    .gen-padding-right((@n + 5px), (@i + 5));
}

//
// margin classes
//
// margin 
.gen-margin(@n, @i: 0) when (@i =< 100) {
    .margin-@{i} {
        margin: (@n) !important;
    }
    .gen-margin((@n + 5px), (@i + 5));
}

// margin-top 
.gen-margin-top(@n, @i: 0) when (@i =< 100) {
    .margin-top-@{i} {
        margin-top: (@n) !important;
    }
    .gen-margin-top((@n + 5px), (@i + 5));
}

// margin-bottom 
.gen-margin-bottom(@n, @i: 0) when (@i =< 100) {
    .margin-bottom-@{i} {
        margin-bottom: (@n) !important;
    }
    .gen-margin-bottom((@n + 5px), (@i + 5));
}

// margin-left 
.gen-margin-left(@n, @i: 0) when (@i =< 100) {
    .margin-left-@{i} {
        margin-left: (@n) !important;
    }
    .gen-margin-left((@n + 5px), (@i + 5));
}

// margin-right 
.gen-margin-right(@n, @i: 0) when (@i =< 100) {
    .margin-right-@{i} {
        margin-right: (@n) !important;
    }
    .gen-margin-right((@n + 5px), (@i + 5));
}
