@import "model/variables.less";

/* -----------------------------------------------------

Add here all your CSS customizations 

Note: IE9 doesn't support transitions and animations

-------------------------------------------------------*/

// additional normalize
body * {
    font-family: @font-family;
}

// flex row bootstrap cheat for rows same height
@media only screen and (min-width: 481px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row>[class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
}

header.is-fixed {
    h1.heading {
        margin: 0;
        font-size: 38px;
    }
}

#cd-logo {
    margin: 0;
    padding: 17px 12px 8px 19px;
}

#section-intro {
    .cover {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            //            position: absolute;
            //            top: 20vh;
            //            left: 35vw;
            opacity: 0.2;
            display: flex;
            flex-grow: 0;
            flex-shrink: 8;
            max-height: 398px;
            max-width: 462px;
        }
    }
}

// квадратные инфо боксы
.info-box-icon {
    border-radius: 0 !important;
}

@media only screen and (min-width: 1200px) {
    .work .col-left .col-inner {
        border-right: none !important;
    }
}
.team {
    .heading {
        h1 {
            font-size: 55px;
        }
    }
}
.work h1 {
    font-size: 55px !important;
    span.bg-main.text-white {
//        white-space: nowrap;
        margin-bottom: 5px;
    }
}

//.info-box-heading h3 {
//    word-wrap: break-word;
//}
// work section поярче фон
//.work {
//    .cover {
//        background-color: rgba(0, 0, 0, 0.61) !important;
//    }
//}
.full-cover-video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}

.work {
    .to-top {
        vertical-align: top;
    }
    .cover {
        background-color: rgba(0, 0, 0, 0.79);
    }
}

.owl-dots .owl-dot span {
    background: @grey3C;
}

blockquote footer {
    color: @grey3C !important;
}

//.parallax-window {
//    height: 100vh;
//    background: transparent;
//    //    position: absolute;
////    top: -100px;
//}
//
//#section-3 {
//    background-color: transparent !important;
//    position: relative;
//}
#contactform {
    margin-bottom: 15px;
    .form-item {
        width: 100%;
    }
    //    label {
    //        margin: 0;
    //        color: @red;
    //        background: @whiteF2;
    //        padding: 4px 5px 5px 5px;
    //        line-height: 1.4;
    //        border-radius: 2px;
    //    }
    input,
    textarea {
        //        display: inline-block;
        color: @black;
        width: 100%;
        margin: 0 3px 3px 0;
        background-image: none;
        border-top: 1px solid @whiteF2;
        border-left: 1px solid @whiteF2;
        border-right: 1px solid @whiteF2;
        border-bottom: 3px solid @whiteF2;
        background-color: @whiteF2;
        opacity: 0.95;
        border-radius: 1px;
        &::placeholder {
            color: @red;
            background-color: @whiteF2;
            opacity: 0.95;
            background-image: none;
            transition: ease 0.5s;
        }
        &::-ms-placeholder {
            color: @red;
            background-color: @whiteF2;
            opacity: 0.95;
            background-image: none;
            transition: ease 0.5s;
        }
        &::-webkit-placeholder {
            color: @red;
            background-color: @whiteF2;
            opacity: 0.95;
            background-image: none;
            transition: ease 0.5s;
        }
        &:focus {
            background-color: @whiteF2;
            opacity: 0.95;
            border-bottom: 3px solid @red;
            background-image: none;
            transition: ease 0.5s;
        }
        &:hover {
            background-color: @whiteF2;
            opacity: 0.95;
            border-bottom: 3px solid @red;
            background-image: none;
            transition: ease 0.5s;
        }
    }
    input {}
    textarea {
        min-height: 117px;
        max-height: 120px;
        resize: none;
    }
    button {
        margin-top: 15px;
    }
}

#contactform * {
    box-sizing: border-box;
}

.contact-section {
    .heading h1 {
        font-size: 55px;
        span {
            padding-left: 0;
        }
    }
    .social-icons {
        margin-top: 15px;
    }
}

.video-demonstration h1 {
    font-size: 38px !important;
    span {
        font-size: 55px;
    }
}

.portfolio .heading {
    min-width: 320px;
    h1 {
        font-size: 43px;
    }
}
.portfolio .box .cover {
    background-color: rgba(0, 0, 0, 0.2);
}

.portfolio .box .caption img {
    opacity: 0.3;
    max-width: 45%;
}
.portfolio .box .entry-count {
    font-size: 25px;
}
//#contactform {
//    color: @black;
//    display: flex;
//    flex-wrap: wrap;
//    flex-direction: row;
//    flex-shrink: 0;
//    .flex-box {
//        flex-basis: 50%;
//        flex-grow: 1;
//        flex-shrink: 1;
//        flex-grow: 1;
//        display: flex;
//        &.flex-input {
//            flex-direction: row;
//            flex-wrap: wrap;
//            flex-basis: 350px;
//            input {
//                flex-basis: 100%;
//                flex-shrink: 5;
//            }
//        }
//        input,
//        textarea {
//            display: flex;
//            flex-shrink: 5;
//            flex-basis: 100%;
//            flex-grow: 1;
//            margin: 3px;
//        }
//        textarea {
//            max-width: 100%;
//            max-height: 100%;
//            resize: none;
//        }
//    }
//}
//
//.contact-section .social-icons {
//    margin-left: 3px;
//}
