@import "model/variables.less";

/* --------------------------------------------------------------------------------------------- *
 *  Helper classes. You are free to use these extra helper classes to customize your web site.

/* --------------------------------------------------------------------------------------------- */


/* full cover (parent element must contain "position: relative;") */

.full-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* background image */

.bg-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.bg-fixed {
    background-attachment: fixed;
}


/* fullscreen height */

.full-height {
    min-height: 100vh;
}


/* center aligns (parent element must contain "position: relative;") */

.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-align-center {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horisontal-align-center {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* no paddings */

.no-padding {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}


/* Text colors */

.text-main {
    color: @red !important;
}


/* Template main color */

.text-white {
    color: @white !important;
}

.text-gray {
    color: @grey8 !important;
}

.text-light-gray {
    color: @greyB !important;
}
.text-dark-gray {
    color: @grey3C !important;
}
.text-dark {
    color: @black !important;
}

.text-green {
    color: @green !important;
}

.text-blue {
    color: @blue !important;
}

.text-yellow {
    color: @yellow !important;
}

.text-red {
    color: @red !important;
}

.text-brown {
    color: @brown !important;
}

.text-purple {
    color: @purple !important;
}


/* Background colors */

.bg-main {
    background-color: @red !important;
}


/* Template main color */

.bg-white {
    background-color: @white !important;
}

.bg-gray {
    background-color: @grey8 !important;
}

.bg-light-gray {
    background-color: @whiteF2 !important;
}

.bg-dark {
    background-color: @black1 !important;
}

.bg-green {
    background-color: @green !important;
}

.bg-blue {
    background-color: @blue !important;
}

.bg-yellow {
    background-color: @yellow !important;
}

.bg-red {
    background-color: @red !important;
}

.bg-brown {
    background-color: @brown !important;
}

.bg-purple {
    background-color: @purple !important;
}


/* Paddings classes */


/* padding */

.gen-padding(0);

/* padding-top */

.gen-padding-top(0);

/* padding-bottom */

.gen-padding-bottom(0);

/* padding-left */

.gen-padding-left(0);

/* padding-right */

.gen-padding-right(0);

/* Margins classes */


/* margin */

.gen-margin(0);

/* margin-top */

.gen-margin-top(0);

/* margin-bottom */

.gen-margin-bottom(0);

/* margin-left */

.gen-margin-left(0);

/* margin-right */

.gen-margin-right(0);

/* ------------------------------------------------------------------------------------------------------------ *
 *  Responsive columns of same height 
 *  more info: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
/* ------------------------------------------------------------------------------------------------------------ */

.row-full-height {
    height: 100%;
}

.col-full-height {
    height: 100%;
    vertical-align: middle;
}

.row-same-height {
    display: table;
    width: 100%;
    /* fix overflow */
    table-layout: fixed;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}


/* vertical alignments */

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}
