@import "model/variables.less";

/*---------------------------------------------------------------------------------

Navigation menu stylesheet

Name:			Expandable Navigation (off canvas menu)
Autor:			Claudia Romano
More info:		http://codyhouse.co/gem/secondary-expandable-navigation

Note: IE9 doesn't support transitions and animations

---------------------------------------------------------------------------------*/


/* ------------------------------------ *
 *  Header
/* ------------------------------------ */

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    z-index: 9999;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    &.lateral-menu-is-open {
        /* translate to show the lateral menu */
        -webkit-transform: translateX(-275px);
        -moz-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        -o-transform: translateX(-275px);
        transform: translateX(-275px);
    }
    &.is-fixed {
        position: fixed;
    }
}

@media only screen and (max-width: 768px) {
    header {
        height: 75px;
    }
}


/* ------------------------------------ *
 *  Header logo
/* ------------------------------------ */

#cd-logo {
    display: block;
    float: left;
    background-color: @white;
    //    margin: 14px 0 0 14px;
    //    padding: 0 15px 15px 0px;
    margin: 12px 0 0 9px;
    padding: 1px 3px 6px 0px;
    img {
        display: block;
        max-height: 54px;
    }
}

@media only screen and (max-width: 768px) {
    #cd-logo img {
        max-height: 45px;
    }
}


/* ------------------------------------ *
 *  Header links
/* ------------------------------------ */

#cd-top-nav {
    position: absolute;
    top: 0;
    right: 120px;
    height: 100%;
    display: none;
    ul {
        height: 100%;
        margin: 0;
        padding-top: 24px;
    }
    li {
        display: inline-block;
        margin-right: 1em;
    }
    a {
        display: inline-block;
        padding: 8px;
        color: @black;
        font-weight: bold;
        &.current {
            background-color: @grey;
        }
        &:hover {
            color: @red;
        }
    }
}

@media only screen and (min-width: 768px) {
    #cd-top-nav {
        display: block;
    }
}


/* ------------------------------------ *
 *  Menu trigger
/* ------------------------------------ */

#cd-menu-trigger {
    position: absolute;
    right: 15px;
    top: 14px;
    height: 60px;
    width: 60px;
    background-color: @white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    .cd-menu-icon {
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        margin-top: -1.5px;
        margin-left: -10px;
        width: 20px;
        height: 3px;
        background-color: @red;
    }
    .cd-menu-icon::before,
    .cd-menu-icon:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: inherit;
        left: 0;
    }
    .cd-menu-icon::before {
        bottom: 7px;
    }
    .cd-menu-icon::after {
        top: 7px;
    }
    &.is-clicked {
        right: 0;
    }
    &.is-clicked .cd-menu-icon {
        background-color: transparent;
    }
    &.is-clicked .cd-menu-icon {
        &::before,
        &::after {
            background-color: @red;
        }
    }
    &.is-clicked .cd-menu-icon::before {
        bottom: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &.is-clicked .cd-menu-icon::after {
        top: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}


/* ------------------------------------ *
 *  Navigation menu
/* ------------------------------------ */

#cd-lateral-nav {
    position: fixed;
    height: 100%;
    right: 15px;
    top: 15px;
    visibility: hidden;
    /* the secondary navigation is covered by the main element */
    z-index: 999;
    width: 260px;
    background-color: @black18;
    overflow-y: auto;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px);
    .nav-inner {
        margin-bottom: 60px;
    }
    .cd-navigation {
        margin: 10px 0 16px;
    }
    .menu-header {
        background-color: rgba(255, 255, 255, 0.03);
        margin-bottom: 22px;
        padding: 17px 15px 15px 32px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: @dark-grey;
        border-bottom: 1px dotted @grey3;
    }
    .sub-menu {
        padding: 0 10px 20px 15px;
        display: none;
    }
    a {
        display: block;
        line-height: 31px;
        padding: 0 16px 0 32px;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 300;
        color: @greyCD;
        &.current {
            background-color: @greyblue;
            color: @white;
        }
        &:hover {
            background-color: @red;
            color: @white;
            text-decoration: line-through;
        }
    }
}

@media only screen and (max-width: 768px) {
    #cd-lateral-nav {
        top: 15px;
    }
}

@media only screen and (min-width: 768px) {
    #cd-lateral-nav .cd-navigation {
        margin: 20px 0;
    }
}

#cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}


/* style menu items which have a submenu  */

#cd-lateral-nav {
    .item-has-children>a {
        position: relative;
        /* this is the right arrow to show that the item has a submenu  */
        &::after {
            content: '';
            display: block;
            height: 11px;
            width: 8px;
            position: absolute;
            top: 50%;
            bottom: auto;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 1em;
            background: url("../img/menu/cd-arrow.svg") no-repeat center center;
            background-size: 8px 11px;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            transition-property: transform;
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
        &.submenu-open::after {
            -webkit-transform: translateY(-50%) rotate(90deg);
            -moz-transform: translateY(-50%) rotate(90deg);
            -ms-transform: translateY(-50%) rotate(90deg);
            -o-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
        }
    }
    .sub-menu>li>a {
        font-size: 16px;
    }
    .menu-separator {
        margin: 0 32px;
        border-bottom: 1px solid @grey3;
    }
    .cd-single-item-wrapper .menu-separator {
        margin: 20px 32px;
    }
}


/* ------------------------------------ *
 *  social icons
/* ------------------------------------ */

#cd-lateral-nav {
    //    .social-icons {
    //        display: inline-block;
    //        margin-top: 20px;
    //        padding: 0 32px;
    //        a {
    //            float: left;
    //            padding: 0;
    //            margin-right: 8px;
    //            font-size: 32px;
    //            color: @white;
    //            &:hover {
    //                background-color: transparent;
    //                color: @red;
    //            }
    //        }
    //    }
    .social-icons {
        margin-bottom: 50px;
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 35px;
            background-color: @white;
            margin: 5px 0 5px 5px;
            text-align: center;
            font-size: 26px;
            color: @black;
            box-shadow: inset 0px 0px @red;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            padding: 0;
            &:hover {
                color: @white;
                box-shadow: inset 0px -62px @red;
            }
        }
    }
}


/* ------------------------------------ *
 *  Body content
/* ------------------------------------ */

#body-content {
    /* set a height and a z-index to be sure that the main element completely covers the lateral menu */
    height: 100%;
    position: relative;
    background-color: @whiteF5;
    z-index: 999;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    &.lateral-menu-is-open {
        /* translate to show the lateral menu - all content needs to be put in the #body-content to translate*/
        cursor: e-resize;
        -webkit-transform: translateX(-260px);
        -moz-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
        -o-transform: translateX(-260px);
        transform: translateX(-260px);
    }
}
