@import "model/variables.less";

/*---------------------------------------------------------------------------------

Master Stylesheet

Template:	RED - Responsive HTML5 Template
Author: 		Themetorium
URL:			http://themetorium.tumblr.com

Note: IE9 doesn't support transitions and animations

---------------------------------------------------------------------------------*/


/* Begin "Oswald" font fix */

//@font-face {
//    font-family: 'Oswald';
//    font-weight: 300;
//    src: local('?'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
//}
//
//@font-face {
//    font-family: 'Oswald';
//    font-weight: 400;
//    src: local('?'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
//}
//
//@font-face {
//    font-family: 'Oswald';
//    font-weight: 700;
//    src: local('?'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
//}
//

/* End "Oswald" font fix */


/* ------------------------------------------------------------------------- *
 *  Base Styles
/* ------------------------------------------------------------------------- */

html,
body {
    height: 100% !important;
    padding: 0;
    margin: 0;
}

body {
    background-color: @white;
    //    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-family: @font-family;
    line-height: 31px;
    font-size: 19px;
    color: @black;
    border-left: 15px solid @white;
    border-right: 15px solid @white;
}

a {
    font-weight: normal;
    color: @red;
    &:hover,
    &:focus {
        color: @red;
        text-decoration: underline;
    }
    &:focus {
        outline: none;
    }
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.5px;
}

hr {
    border-color: rgba(146, 146, 146, 0.23);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    line-height: 1.3;
}

::selection,
 ::-moz-selection {
    background-color: @red;
    color: @white;
}

.cover {
    /* Element cover */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    z-index: 2;
}

.lead {
    font-size: 21px;
}

.thumbnail {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}


/* ------------------------------------------------------------- *
 *  Page preloader (display loading animation while page loads)
/* ------------------------------------------------------------- */

#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: @white;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg8 {
    display: flex;
    fill: @red;
    animation: preloader 7s infinite ease-in;
    max-width: 398px;
    max-height: 462px;
}

@keyframes preloader {
    15% {
        fill: @brown;
    }
    30% {
        fill: @yellow;
    }
    45% {
        fill: @green;
    }
    60% {
        fill: @blue;
    }
    75% {
        fill: @purple;
    }
    87% {
        fill: @black;
    }
}

//@keyframes scaleout {
//    0% {
//        opacity: 0;
//    }
//    50% {
//        opacity: 1;
//        transform: translateX(35vw) rotate(45deg);
//    }
//    100% {
//        transform: translateX(50vw) rotate(77deg);
//        opacity: 1;
//    }
//}

/* ------------------------------------ *
 *  Bage borders
/* ------------------------------------ */


/* common */

.border-side() {
    position: fixed;
    background-color: @white;
    z-index: 99998;
}

.border-top {
    .border-side;
    top: 0;
    left: 0;
    height: 15px;
    width: 100%;
}

.border-bottom {
    .border-side;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 100%;
}

.border-left {
    .border-side;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
}

.border-right {
    .border-side;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
}


/* ------------------------------------ *
 *  Body content
/* ------------------------------------ */

#body-content {
    height: 100%;
}


/* ------------------------------------ *
 *  Heading
/* ------------------------------------ */

.heading {
    margin-bottom: 30px;
    z-index: 2;
    h1 {
        margin: 0;
        font-size: 36px;
        font-weight: bold;
        span {
            display: inline-block;
            padding: 0px 10px;
            margin-right: 5px;
        }
    }
    .divider {
        margin-bottom: 0;
    }
    /* heading size */
    &-xsm h1 {
        font-size: 28px;
    }
    &-sm h1 {
        font-size: 42px;
    }
    &-md h1 {
        font-size: 52px;
    }
    &-lg h1 {
        font-size: 62px;
    }
    &-xlg h1 {
        font-size: 72px;
    }
}


/* heading align */

.heading-center {
    text-align: center;
    .divider {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
}

.heading-right {
    text-align: right;
    .divider {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .heading h1 {
        font-size: 42px;
    }
}


/* ------------------------------------ *
 *  Divider
/* ------------------------------------ */

.divider {
    width: 50px;
    height: 5px;
    background-color: @red;
    margin: 20px 0 30px 0;
    /* divider align */
    &-center {
        margin-left: auto;
        margin-right: auto;
    }
    &-right {
        margin-left: auto;
        margin-right: 0;
    }
}


/* ------------------------------------ *
 *  Page sections
/* ------------------------------------ */

section {
    position: relative;
    background-color: @white;
    padding: 80px 0;
    overflow: hidden;
    .container {
        z-index: 2;
    }
}

#section-1 {}

#section-2 {}

#section-3 {}

#section-4 {}

#section-5 {}

#section-6 {}

#section-7 {}

#section-8 {}

#section-9 {}

#section-10 {}

#section-11 {}


/* ------------------------------------ *
 *  Intro section
/* ------------------------------------ */

#section-intro {
    position: relative;
    overflow: hidden;
}

.intro-caption {
    position: absolute;
    bottom: 80px;
    left: 80px;
    z-index: 3;
    h1 {
        font-size: 46px;
        font-weight: bold;
        span {
            display: inline-block;
            padding: 0px 12px;
            margin-right: 3px;
        }
    }
    .divider {
        margin: 30px 0 30px 0;
    }
    p {
        margin: 15px 0 0 0;
        font-size: 28px;
    }
}

.made-with-love {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 14px;
    font-weight: 300;
    z-index: 3;
}

@media only screen and (max-width: 992px) {
    .intro-caption h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 768px) {
    .intro-caption {
        bottom: 80px;
        left: 30px;
        h1 {
            font-size: 24px;
        }
        p {
            font-size: 18px;
        }
    }
}


/* ------------------------------------ *
 *  Intro parallax
/* ------------------------------------ */


/* Intro parallax cover */

.intro-parallax .cover {
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.4) 5px, rgba(0, 0, 0, 0) 9px), repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.4) 5px, rgba(0, 0, 0, 0) 9px);
    //    background-color: rgba(0, 0, 0, 0.27);
}


/* ------------------------------------ *
 *  Intro slider
/* ------------------------------------ */

.intro-slider .slide-wrapper {
    position: relative;
    overflow: hidden;
}

.intro-slider .slide-image {}


/* Zoom slide image on hover (no effect on small devices.) */

@media only screen and (min-width: 992px) {
    .intro-slider .slide-image {
        -webkit-transition: all 12s ease;
        transition: all 12s ease;
    }
    .intro-slider .slide-wrapper:hover .slide-image {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}


/* Intro slider covers */

.intro-slider .intro-slide-1 .cover {
    background-color: rgba(0, 0, 0, 0.4);
}

.intro-slider .intro-slide-2 .cover {
    background-color: rgba(0, 0, 0, 0.2);
}

.intro-slider .intro-slide-3 .cover {
    background-color: rgba(0, 0, 0, 0);
}


/* Intro slider dots (OWL Carousel) */

.intro-slider .owl-carousel .owl-dots {
    position: absolute;
    bottom: 85px;
    right: 30px;
}

.intro-slider .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 0px 4px;
    border-radius: 0;
}

.intro-slider .owl-dots .owl-dot:hover span {
    height: 15px;
}

.intro-slider .owl-dots .owl-dot.active span {
    height: 22px;
}


/* ----------------------------------------- *
 *  Video intro (Youtube video background)
/* ----------------------------------------- */

.intro-video-bg {}

.video-bg {
    position: relative;
    background-color: @black;
    background-size: cover;
}


/* Video cover */

.YTPOverlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.YTPOverlay.raster {
    background: url("../vendor/ytplayer/images/raster.png");
    /* "raster.png" or "raster_dot.png" */
    background-color: rgba(0, 0, 0, 0.6);
}

.youtube-bg.fullscreen .YTPOverlay,
.youtube-bg.fullscreen .YTPOverlay.raster {
    display: none;
}


/* Video control bar */

.mb_YTPBar,
.mb_YTPBar .buttonBar {
    padding: 5px 5px 0px 5px;
}

.mb_YTPBar,
.mb_YTPBar .mb_YTPProgress,
.mb_YTPBar .mb_YTPLoaded,
.mb_YTPBar .mb_YTPseekbar {
    height: 5px;
}

.mb_YTPBar.visible {
    opacity: .1;
}

.mb_YTPBar .mb_YTPProgress,
.mb_YTPBar .mb_YTPLoaded {
    cursor: pointer;
}

.mb_YTPBar .mb_YTPseekbar {
    background: @red;
    cursor: pointer;
}


/* ----------------------------------------- *
 *  404 error intro
/* ----------------------------------------- */

.intro-error {}

.intro-error .cover {
    background-color: rgba(0, 0, 0, 0.76);
}


/* ------------------------------------ *
 *  OWL Carousel
/* ------------------------------------ */

.owl-carousel .owl-item {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* OWL controls */

//.owl-carousel .owl-nav .owl-prev,
//.owl-carousel .owl-nav .owl-next {
//    position: absolute;
//}

/* Prev/Next buttons */

.owl-nav {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .owl-nav {
        /* Disable Prev/Next buttons on smaller devices */
        display: none;
    }
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    top: 50%;
    width: 60px;
    height: 60px;
    line-height: 54px;
    background-color: rgba(194, 194, 194, 0.36);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: #FFF;
    opacity: 0;
    border-radius: 0;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
    background-color: rgba(194, 194, 194, 0.5);
}

.owl-carousel .owl-nav .owl-prev {
    left: 0px;
}

.owl-carousel .owl-nav .owl-next {
    right: 0px;
}

.owl-carousel:hover .owl-nav .owl-prev {
    left: 40px;
}

.owl-carousel:hover .owl-nav .owl-next {
    right: 40px;
}

.owl-carousel:hover .owl-nav .disabled {
    cursor: default;
}


/* Dots */

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: rgba(255, 0, 0, 0.8);
}


/* ------------------------------------ *
 *  Scroll down arrow
/* ------------------------------------ */

.scroll-down-arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    z-index: 3;
    span {
        position: relative;
        font-size: 24px;
        -webkit-animation: mymove 1.4s infinite ease;
        animation: mymove 1.4s infinite ease;
    }
}

@-webkit-keyframes mymove {
    /* Chrome, Safari, Opera */
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 7px;
        opacity: 0;
    }
}

@keyframes mymove {
    /* Standard */
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 7px;
        opacity: 0;
    }
}


/* ------------------------------------ *
 *  Welcome section
/* ------------------------------------ */

@media only screen and (min-width: 1200px) {
    .welcome .col-right .col-inner {
        padding-left: 40px;
    }
}


/* ------------------------------------ *
 *  Info box
/* ------------------------------------ */

.info-box-wrapper {}

@media only screen and (max-width: 768px) {
    .info-box-wrapper .col {
        padding: 0;
    }
}

.info-box {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.info-box-icon {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 63px;
    margin-right: 12px;
    text-align: center;
    font-size: 21px;
    color: @white;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 50%;
    box-shadow: inset 0px 0px rgba(255, 0, 0, 0.82);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.info-box:hover .info-box-icon {
    box-shadow: inset 0px -75px rgba(255, 0, 0, 0.82);
}

.info-box-heading {
    display: inline-block;
    h3 {
        margin: 0;
        font-size: 22px;
    }
    .divider {
        margin: 16px 0 20px 0;
    }
}

.info-box-info {
    font-weight: 300;
}


/* ------------------------------------ *
 *  Work (what we to)
/* ------------------------------------ */

.work {
    .cover {
        background-color: rgba(0, 0, 0, 0.89);
    }
    .row {
        position: relative;
        z-index: 3;
    }
}

@media only screen and (min-width: 1200px) {
    .work .col-left .col-inner {
        border-right: 1px solid @grey3C;
    }
}


/* ------------------------------------ *
 *  Split box
/* ------------------------------------ */

.split-box .col-left,
.split-box .col-right {
    position: relative;
}

.split-box {
    img {
        max-width: 100%;
    }
    .col-inner {
        padding: 30px 80px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 1200px) {
    .split-box .col-inner {
        padding: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .split-box .col-inner {
        padding: 40px 15px;
    }
}


/* ------------------------------------ *
 *  Portfolio grid section
/* ------------------------------------ */

.portfolio {
    .masonry {
        background-color: @black1;
    }
    /* portfolio grid box */
    .box {
        padding: 0px;
        /* Change to add more space between portfolio grid boxes */
        max-width: 100%;
    }
    .box-inner {
        position: relative;
        overflow: hidden;
    }
    .box .entry-count {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: inline-block;
        margin: 0;
        font-size: 48px;
        color: rgba(255, 255, 255, 0.22);
        z-index: 2;
    }
    .thumbnail {}
}


/* portfolio heading */

.portfolio-heading {
    .cover {
        background-color: @black1 !important;
    }
    .heading {
        display: block;
        min-width: 260px;
        color: @white;
        p {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .portfolio-heading .heading h1 {
        font-size: 46px;
    }
}


/* portfolio grid box link */

.box-inner .portfolio-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}


/* portfolio grid box cover */

.portfolio .box {
    .cover {
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
}

.portfolio .box:hover .cover {
    background-color: rgba(255, 0, 0, 0.75);
}


/* portfolio grid box cover hover bg colors */

.portfolio .box-1:hover .cover {
    background-color: rgba(255, 0, 0, 0.8);
}

.portfolio .box-2:hover .cover {
    background-color: rgba(255, 213, 0, 0.8);
}

.portfolio .box-3:hover .cover {
    background-color: rgba(141, 203, 11, 0.8);
}

.portfolio .box-4:hover .cover {
    background-color: rgba(0, 197, 255, 0.8);
}

.portfolio .box-5:hover .cover {
    background-color: rgba(229, 0, 255, 0.8);
}

.portfolio .box-6:hover .cover {
    background-color: rgba(176, 100, 0, 0.8);
}

.portfolio .box-7:hover .cover {
    background-color: rgba(0, 29, 176, 0.8);
}


/* portfolio grid box thumbnail */

.portfolio .thumbnail {}


/* portfolio grid box caption */

.portfolio .box {
    &:hover .caption img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transition: all 0.6s ease;
    }
    .caption {
        text-align: center;
        z-index: 2;
        img {
            opacity: 0.5;
            max-width: 75%;
            -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
}


/* ------------------------------------ *
 *  Testimonials
/* ------------------------------------ */

.testimonial {
    margin-top: -1px;
}

.testimonial-carousel {
    max-width: 800px;
    margin: 0 auto;
}

blockquote {
    padding: 60px 20px;
    margin: 0;
    font-size: 22px;
    line-height: 30px;
    border: none;
}


/* ------------------------------------ *
 *  Video demonstration
/* ------------------------------------ */

.video-demonstration {}


/* ---------------------------------------------------------------- *
 *  Magnific Popup: http://dimsemenov.com/plugins/magnific-popup/
/* ---------------------------------------------------------------- */

.mfp-bg {
    background: #000;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 99999;
}

.mfp-wrap {
    z-index: 99999;
}

.mfp-container {
    padding: 0 15px;
}

.mfp-figure:after {
    top: 80px;
    bottom: 80px;
}

img.mfp-img {
    padding: 80px 0 80px;
}

.mfp-close,
.mfp-close:focus,
.mfp-close:active {
    top: 36px;
}

.mfp-bottom-bar {
    margin-top: -75px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


/* fade in navication */

.mfp-fadein .mfp-figure {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* on smaller devices */

@media only screen and (max-width: 768px) {
    .mfp-bottom-bar {
        padding: 0 10px;
    }
    .mfp-counter {
        right: 10px;
    }
    .mfp-close,
    .mfp-close:focus {
        right: 0;
    }
}


/* Inline popup (type inline) 
------------------------------- */

.inline-popup {
    position: relative;
    height: auto;
    max-width: 1200px;
    background-color: transparent;
    padding: 0px;
    margin: 70px auto;
    color: @white;
    /* Close button */
    .inline-popup-close {
        position: absolute;
        top: -50px;
        right: 0px;
        text-decoration: none;
        font-size: 32px;
        color: @white;
    }
    .mfp-close {
        display: none;
    }
}

.inline-popup-inner {}


/* Fade-zoom animation for first dialog */


/* start state */

.mfp-fade-zoom .inline-popup {
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


/* animate in */

.mfp-fade-zoom.mfp-ready .inline-popup {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* animate out */

.mfp-fade-zoom.mfp-removing .inline-popup {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


/* Dark overlay, start state */

.mfp-fade-zoom.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in */

.mfp-fade-zoom.mfp-ready.mfp-bg {
    background: @black1;
    opacity: 0.99;
}


/* animate out */

.mfp-fade-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


/* ------------------------------------ *
 *  Panels
/* ------------------------------------ */

.panel-group .panel {
    background-color: @white;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading {
    position: relative;
    padding: 15px;
}

.panel-title {
    font-size: 22px;
}

@media only screen and (max-width: 768px) {
    .panel-title {
        font-size: 18px;
    }
}

.panel-body {
    padding: 15px;
}


/* panel-default */

.panel-default {
    border-color: @greyD;
}

.panel-default>.panel-heading {
    background-color: @white;
    color: @black;
}

.panel-default .panel-title a:hover,
.panel-default .panel-title a:focus {
    color: @black;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: @greyD;
}


/* panel-primary */

.panel-primary {
    border-color: @blue;
    &>.panel-heading {
        background-color: @blue;
        color: @white;
        &+.panel-collapse>.panel-body {
            border-top-color: @blue;
        }
    }
}

.panel-primary .panel-title a:hover,
.panel-primary .panel-title a:focus {
    color: @black;
}


/* panel-success */

.panel-success {
    border-color: @green;
    &>.panel-heading {
        background-color: @green;
        color: @white;
    }
}

.panel-success .panel-title a:hover,
.panel-success .panel-title a:focus {
    color: @black;
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: @green;
}


/* panel-info */

.panel-info {
    border-color: @blue;
    &>.panel-heading {
        background-color: @blue;
        color: @white;
        span {
            color: rgba(255, 255, 255, 0.7);
        }
        &+.panel-collapse>.panel-body {
            border-top-color: @blue;
        }
    }
}

.panel-info .panel-title a:hover,
.panel-info .panel-title a:focus {
    color: @black;
}


/* panel-warning  */

.panel-warning {
    border-color: @yellow;
    &>.panel-heading {
        background-color: @yellow;
        color: @black;
        &+.panel-collapse>.panel-body {
            border-top-color: @yellow;
        }
    }
}

.panel-warning .panel-title a:hover,
.panel-warning .panel-title a:focus {
    color: @red;
}


/* panel-danger */

.panel-danger {
    border-color: @red;
    &>.panel-heading {
        background-color: @red;
        color: @white;
        &+.panel-collapse>.panel-body {
            border-top-color: @red;
        }
    }
}

.panel-danger .panel-title a:hover,
.panel-danger .panel-title a:focus {
    color: @black;
}


/* ------------------------------------ *
 *  Accordion
/* ------------------------------------ */

#accordion {
    .panel-heading {
        position: relative;
        padding: 30px 30px 30px 99px;
        span {
            position: absolute;
            left: 15px;
            font-size: 54px;
        }
    }
    .panel {
        border: 15px solid @whiteF2;
        border-radius: 10px;
    }
    .panel-title {
        font-size: 28px;
        color: @black;
        a:hover,
        a:focus {
            color: @red;
        }
    }
    .panel-body {
        padding: 30px;
    }
}

#accordion .panel-default>.panel-heading span {
    color: rgba(0, 0, 0, 0.2);
}

#accordion .panel-primary>.panel-heading span,
#accordion .panel-success>.panel-heading span,
#accordion .panel-warning>.panel-heading span,
#accordion .panel-danger>.panel-heading span {
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 768px) {
    #accordion .panel-title {
        font-size: 18px;
    }
}


/* ------------------------------------ *
 *  FAQ
/* ------------------------------------ */

.faq {}

.faq #accordion {
    margin-top: 80px;
}


/* ------------------------------------ *
 *  Articles (Blog)
/* ------------------------------------ */

.blog {
    /* article heading */
    .blog-heading {
        height: 400px;
        background-color: @red;
        color: @white;
        .divider {
            background-color: @white;
        }
        .article-link {
            display: block;
            font-size: 18px;
            color: @white;
            z-index: 3;
        }
        p {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .blog .blog-heading {
        height: 300px;
    }
}


/* article */

.article {
    position: relative;
    height: 400px;
    background-color: @whiteF2;
    box-shadow: inset 0px -180px 100px -50px rgba(0, 0, 0, 0.52);
    /* article caption */
    .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 30px 20px 30px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &:hover .caption {
        bottom: 20px;
    }
    .entry-meta {
        font-size: 14px;
        color: @white;
        a {
            color: @yellow;
        }
    }
}

.article-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article-title {
    margin: 0 0 10px 0;
    font-size: 22px;
    line-height: 30px;
    color: @white;
}


/* ------------------------------------ *
 *  Clients
/* ------------------------------------ */

.clients {
    background-color: @black18;
    .client-logo {
        img {
            max-width: 183px;
            margin: 0 auto;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            &:hover {
                opacity: .7;
            }
        }
    }
}


/* ------------------------------------ *
 *  Counter Up
/* ------------------------------------ */

.counter-up {}

@media only screen and (max-width: 992px) {
    .counter-up {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.counter-up-inner {
    position: relative;
    margin: 50px 0;
    text-align: center;
    overflow: hidden;
}

.counter-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 130px;
    z-index: 1;
    color: rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.counter-up-inner:hover .counter-icon {
    font-size: 150px;
}

.counter {
    position: relative;
    font-size: 72px;
    line-height: normal;
    z-index: 2;
}

.counter-up .divider {
    position: relative;
    z-index: 2;
}


/* ------------------------------------ *
 *  Contact
/* ------------------------------------ */

.contact-section {
    .cover {
        background-color: rgba(0, 0, 0, 0.79);
    }
    .col-inner {
        position: relative;
        z-index: 2;
    }
    .social-icons {
        margin-bottom: 50px;
        a {
            display: inline-block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            background-color: @white;
            margin: 5px 5px 5px 0;
            text-align: center;
            font-size: 28px;
            color: @black;
            box-shadow: inset 0px 0px @red;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &:hover {
                color: @white;
                box-shadow: inset 0px -62px @red;
            }
        }
    }
}

.contact-info {
    .fa {
        margin-right: 5px;
    }
}

@media only screen and (min-width: 992px) {
    .contact-section .col-left .col-inner {
        border-right: 1px solid #333;
    }
}

@media only screen and (max-width: 992px) {
    .contact-section .col-right .col-inner {
        margin-top: 60px;
    }
}


/* ------------------------------------ *
 *  Buttons
/* ------------------------------------ */

.btn {
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 17px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
        color: @blue;
        text-decoration: none;
    }
    &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


/* button size */

.btn-xsm {
    font-size: 14px;
}

.btn-sm {
    font-size: 15px;
}

.btn-lg {
    padding: 12px 30px;
    font-size: 20px;
}

.btn-xlg {
    padding: 16px 40px;
    font-size: 22px;
}

.btn-default.btn-lg {
    padding: 11px 30px;
}

.btn-transparent.btn-lg,
.btn-transparent-white.btn-lg {
    padding: 10px 30px;
}

.btn-default.btn-xlg {
    padding: 15px 40px;
}

.btn-transparent.btn-xlg,
.btn-transparent-white.btn-xlg {
    padding: 14px 40px;
}


/* button style */

.btn-rounded {
    border-radius: 30px;
}

.btn-default {
    padding: 7px 12px;
    color: @black;
    background-color: @whiteF2;
    border: 1px solid @greyCD;
    box-shadow: inset 0px -2px rgba(0, 0, 0, 0.04);
    &:hover,
    &:focus {
        color: @black;
        background-color: @whiteF2;
        border-color: @greyCD;
        box-shadow: inset 0px -65px rgba(0, 0, 0, 0.1);
    }
}

.btn-primary {
    color: @white;
    background-color: @blue;
    box-shadow: inset 0px -3px rgba(0, 0, 0, 0.18);
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.disabled,
    &[disabled] {
        color: @white;
        background-color: @blue;
        box-shadow: inset 0px -65px rgba(0, 0, 0, 0.18);
    }
}

.btn-white {
    color: @black;
    background-color: @white;
    box-shadow: inset 0px 0px @red;
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.disabled,
    &[disabled] {
        color: @white;
        background-color: @white;
        box-shadow: inset 0px -65px @red;
    }
}

.btn-warning {
    color: @white;
    background-color: @red;
    box-shadow: inset 0px -3px rgba(0, 0, 0, 0.1);
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.disabled,
    &[disabled] {
        color: @white;
        background-color: @red;
        box-shadow: inset 0px -65px rgba(0, 0, 0, 0.1);
    }
}

.btn-danger {
    color: @white;
    background-color: @red;
    box-shadow: inset 0px -3px rgba(0, 0, 0, 0.1);
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.disabled,
    &[disabled] {
        color: @white;
        background-color: @red;
        box-shadow: inset 0px -65px rgba(0, 0, 0, 0.1);
    }
}

.btn-success {
    color: @white;
    background-color: @green;
    box-shadow: inset 0px -3px rgba(0, 0, 0, 0.1);
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.disabled,
    &[disabled] {
        color: @white;
        background-color: @green;
        box-shadow: inset 0px -65px rgba(0, 0, 0, 0.1);
    }
}

.btn-info {
    color: @white;
    background-color: @blue;
    box-shadow: inset 0px 0px @black;
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.disabled,
    &[disabled] {
        color: @white;
        background-color: @blue;
        box-shadow: inset 0px -65px @black;
    }
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: @red;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    &:active,
    &:focus,
    &[disabled] {
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }
}

.btn-inverse {
    color: @white;
    background-color: @black;
    box-shadow: inset 0px 0px @red;
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.disabled,
    &[disabled] {
        color: @white;
        background-color: @black;
        box-shadow: inset 0px -65px @red;
    }
}

.btn-transparent {
    padding: 6px 12px;
    color: @black;
    background-color: transparent;
    border: 2px solid @black;
    box-shadow: inset 0px 0px @black;
    &:hover,
    &:focus {
        color: @black;
        background-color: transparent;
        border-color: @black;
        box-shadow: inset 0px -65px @black;
    }
}

.btn-transparent-white {
    padding: 6px 12px;
    color: @white;
    background-color: transparent;
    border: 2px solid @white;
    box-shadow: inset 0px 0px @white;
    &:hover,
    &:focus {
        color: @black;
        background-color: transparent;
        border-color: @white;
        box-shadow: inset 0px -65px @white;
    }
}


/* ------------------------------------ *
 *  Footer
/* ------------------------------------ */

#footer {
    padding: 30px 0 50px 0;
    .copyright {
        color: @greyB;
    }
}


/* ------------------------------------ *
 *  Scroll to top button
/* ------------------------------------ */

.scrolltotop {
    position: fixed;
    display: none;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: @white;
    text-align: center;
    font-size: 24px;
    color: @red;
    text-decoration: none;
    z-index: 9999;
    &:hover,
    &:focus {
        color: @red;
    }
}

@media only screen and (max-width: 768px) {
    .scrolltotop {
        bottom: 15px;
        right: 15px;
    }
}
