include templates/_variables.pug
html(lang="ru")
    head
        include templates/_head.pug
    body
        include templates/_preloader.pug
        
        // page borders
        div.border-top
        div.border-bottom
        div.border-left
        div.border-right
        // /page borders
        
        // HEADER
        header.is-fixed
            include templates/_header.pug
        // /HEADER
        
        // MENU
        nav#cd-lateral-nav
            include templates/_nav.pug
        // /MENU
        
        // BODY-CONTENT
        div#body-content
            section#section-intro.intro-parallax.full-height
                include templates/_body__section_intro_video.pug